<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
@model List<Project.ConstructionTracking.Web.Models.StoreProcedureModel.UnitStatusModel>
<style>
        #custom-card {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .dataTables_wrapper .dataTables_length, 
        .dataTables_wrapper .dataTables_filter {
            margin-bottom: 5px;
        }

        .dataTables_wrapper .dataTables_length select {
            border: 5px solid #dee2e6;
            border-radius: 8px;
            padding: 10px;
            margin-left: 10px;
        }

        .dataTables_wrapper .dataTables_filter input {
            border: 1px solid #dee2e6;
            border-radius: 4px;
            padding: 5px;
            margin-left: 5px;
        }

        .table-responsive {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }

        .custom-table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            font-size: 12px; /* Smaller text size */
        }

        .custom-table td {
            padding: 8px;
            text-align: left;
            border: 1px solid #dee2e6;
        }

        .custom-table th {
            background-color: #f8f9fa;
            font-size: 12px;
            border: 1px solid #050505;
            text-align: center;
        }

        .custom-table tbody tr:hover {
            background-color: #eff584;
        }

</style>
<div class="card" id="custom-card">
    <div class="table-responsive">
    <table id="example" class="custom-table">
            <thead>
                <tr>
                    <th>
                        Unit
                    </th>
                    <th>
                        Type บ้าน
                    </th>
                    <th>
                        ประเภทบ้าน
                    </th>
                    <th>
                        สถานะขาย
                    </th>
                    <th>
                        สถานะก่อสร้าง
                    </th>
                    <th>
                        แผนเริ่ม
                    </th>
                    <th>
                        แผนเสร็จ
                    </th>
                    <th>
                        งวดงานตามแผน
                    </th>
                    <th>
                        งวดงานตามจริง
                    </th>
                    <th title="ร้อยละของการคืบหน้าตามแผน">% Progress ตามแผน</th>
                    <th title="ร้อยละของการคืบหน้าตามจริง">% Progress ตามจริง</th>
                    <th title="การเลื่อนหรือเร่งงานตามสถานะปัจจุบัน">Delay/Ahead ณ ปัจจุบัน</th>
                    <th title="จำนวนวันที่คาดว่าจะใช้ในการก่อสร้างตามแผน">จำนวนวันก่อสร้างตามแผน</th>
                    <th title="จำนวนวันที่ใช้ไปจริงในการก่อสร้าง">จำนวนวันที่ใช้จริง</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.unit_code
                            <a asp-controller="UnitStatusByUnit" asp-action="Index" asp-route-ProjectID="@item.project_id" asp-route-UnitID="@item.unit_id">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </td>
                        <td>@item.model_type_str</td>
                        <td>@item.unit_type_str</td>
                        <td>@item.unit_status_str</td>
                        <td>@item.unit_build_status_str</td>
                        <td>@item.date_start_plan_str</td>
                        <td>@item.date_end_plan_str</td>
                        <td>@item.formname_plan_str</td>
                        <td>@item.formname_true_str</td>
                        <td>@item.process_plan_str</td>
                        <td>@item.process_true_str</td>
                        <td>@item.delay_ahead_str</td>
                        <td>@item.allday_str</td>
                        <td>@item.realday_use_str</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


