@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var ProjectName = ViewBag.ProjectName;
    var UnitCode = ViewBag.UnitCode;
    var FormName = ViewBag.FormName;
    var UnitFormStatusID = ViewBag.UnitFormStatusID;
    var Actiondate = ViewBag.Actiondate;
    var ActiondatePm = ViewBag.ActiondatePm;
    var ActiondatePJm = ViewBag.ActiondatePJm;
    var Grade = ViewBag.Grade;
    var LockStatusID = ViewBag.LockStatusID;
    var VenderName = ViewBag.VenderName;
    var PM_Remarkaction = ViewBag.PM_Remarkaction;
    var PM_Actiontype = ViewBag.PM_Actiontype;
    var PJM_Remarkaction = ViewBag.PJM_Remarkaction;
    var PJM_Actiontype = ViewBag.PJM_Actiontype;
}

@model Project.ConstructionTracking.Web.Models.ApproveFormcheckModel

<style>
    .card {
        border: none;
        border-radius: 10px;
    }

    .text-yellow {
        color: yellow;
    }

    .custom-heading {
        line-height: 1.2;
    }

    .status-dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        outline: none;
        font-size: 20px;
    }

    .drop-zone {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 6px;
        text-align: center;
        cursor: pointer;
    }

    .drop-zone-text {
        margin-bottom: 10px;
    }

    .drop-zone-input {
        display: none;
    }

    .preview-container {
        margin-top: 10px;
    }

    .preview-image {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
    }

    .preview-image img {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: block;
    }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 18px;
        text-align: center;
        padding: 0;
    }
</style>

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        <form action="@Url.Action("index","PMFormcheck")" method="post">
                            <button class="status-dot bg-transparent">
                                <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                            </button>
                        </form>
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h1 class="mb-0 header-text">@UnitCode</h1>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@ProjectName</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                        <button class="status-dot bg-transparent">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="container mt-1">
                                    <span class="badge bg-secondary text-white">@FormName</span> สร้างโดย @VenderName
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="container mt-1">
                                                <label class="form-label align-center">
                                                    วิศวกรผู้ควบคุมงาน  : นายสมชาย ใจดี
                                                </label>
                                                <label class="form-label align-center">
                                                    เกรดที่วิศวกรประเมิณงวดนี้ : @Grade
                                                </label>
                                                <label class="form-label align-center">
                                                    การตรวจ QC : ผ่าน
                                                </label>
                                                <label class="form-label align-center">
                                                    วันที่ส่งงาน : @Actiondate
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl mb-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">ผลการตรวจ</a></li>
                @if (LockStatusID != null)
                {
                    <li class="breadcrumb-item active text-danger" aria-current="page">มีการผ่านแบบมีเงื่อนไข!!!</li>
                }
            </ol>
            <br>
            <div class="row">
                @foreach (var group in Model.PM_getListgroup)
                {
                    <div class="col-md-4">
                        <div class="card p-3 mb-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <form action="@Url.Action("Index","FormCheckList" , new { unitId = Model.UnitID, FormID = Model.FormID , GroupID = group.Group_ID})" method="post">
                                        @{
                                            string buttonClass = "bg-green";
                                            string iconClass = "fa-solid fa-magnifying-glass";

                                            if (group.LockStatusID != null)
                                            {
                                                buttonClass = "bg-primary";
                                                iconClass = "fa-solid fa-lock";
                                            }
                                        }
                                        <button class="status-dot @buttonClass">
                                            <i class="@iconClass"></i>
                                        </button>
                                    </form>
                                    <div class="ms-2 c-details">
                                        <h3 class="mb-0">
                                            @group.Group_Name
                                        </h3>
                                    </div>
                                </div>
                                <div class="align-items-right">
                                    <!-- Button to open the modal and fetch images -->
                                    <button class="status-dot bg-primary" onclick="openModal('@Model.ID', '@group.Group_ID')">
                                        <i class="fa-regular fa-image"></i>
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" id="Group_ID_@group.Group_ID" value="@group.Group_ID" />
                            @if (group.PM_getListpackage != null)
                            {
                                <div class="mb-3">
                                    <label class="form-label">ความเห็นจากวิศวกร</label>
                                    @* Build the content first *@
                                    @{
                                        var textareaContent = new System.Text.StringBuilder();
                                        foreach (var Listpackage in group.PM_getListpackage)
                                        {
                                            textareaContent.AppendLine($"{Listpackage.Package_Name} : {Listpackage.Package_Remark}");
                                        }
                                    }

                                    <textarea class="form-control mt-2"
                                              rows="4"
                                              style="text-align: left; white-space: pre-wrap;"
                                              disabled>@textareaContent.ToString()</textarea>
                                </div>
                            }

                            @if (group.LockStatusID != null)
                            {
                                <label class="form-label">
                                    ความเห็นจากวิศวกร
                                </label>
                                <textarea rows="2" class="form-control" placeholder="ความคิดเห็น" disabled>@group.PE_Remark</textarea>
                                <input type="hidden" id="pass_ID_@group.Group_ID" value="@group.PassConditionsID" />
                                <div class="col-12 p-1">
                                    <label class="form-label">
                                        อนุมัติการผ่านแบบมีเงื่อนไข
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" data-action="gr-pass" type="radio" group-id="@group.Group_ID"
                                               name="radios-inline-@Model.ID-@group.Group_ID"
                                               passconID="@group.PassConditionsID"
                                               value="6"
                                               onclick="toggleRadio(this, '@Model.ID')"
                                        @(group.PC_StatusID == 6 ? "checked" : "")
                                        @(PM_Actiontype == "submit" && UnitFormStatusID != 2 ? "disabled" : "")>
                                        <span class="form-check-label">ผ่านเพื่อส่ง PJM Head</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" data-action="gr-pass" type="radio" group-id="@group.Group_ID"
                                               name="radios-inline-@Model.ID-@group.Group_ID"
                                               value="7"
                                               onclick="toggleRadio(this, '@Model.ID')"
                                        @(group.PC_StatusID == 7 ? "checked" : "")
                                        @(PM_Actiontype == "submit" && UnitFormStatusID != 2 ? "disabled" : "")>
                                        <span class="form-check-label">ไม่ผ่าน</span>
                                    </label>
                                </div>
                                <div class="col-12 p-1 mb-2">
                                    <textarea id="remark_@group.Group_ID" rows="1" class="form-control" placeholder="ระบุเหตุผลเพื่อขออนุมัติ"
                                    @(PM_Actiontype == "submit" && UnitFormStatusID != 2 ? "disabled" : "")>@group.PM_Remark</textarea>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="container-xl mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="ribbon ribbon-top bg-yellow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                            <path d="M13.5 6.5l4 4" />
                        </svg>
                    </div>
                    <h3 class="card-title align-center">
                        <span class="material-icons"> account_circle </span> บันทึกผลการอนุมัติในงวดนี้
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <!-- Profile Image -->
                            @foreach (var listimage in Model.PM_getListImage)
                            {
                                <div class="position-relative d-inline-block mb-3">
                                    <a data-fslightbox="gallery" href="~/@listimage.FilePath">
                                        <img src="~/@listimage.FilePath" alt="Profile Image" class="img-thumbnail" style="width: 90px; height: 90px; border-radius: 50%; object-fit: cover;">
                                    </a>
                                    @if (PM_Actiontype == "submit")
                                    {
                                        if (UnitFormStatusID == 2)
                                        {
                                            <button type="button" class="remove-button" onclick="deleteImage('@listimage.ResourceID')">✖</button>
                                        }
                                    }
                                    else
                                    {
                                        <button type="button" class="remove-button" onclick="deleteImage('@listimage.ResourceID')">✖</button>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                @if (PM_Actiontype == "submit")
                                {
                                    if (UnitFormStatusID == 2)
                                    {
                                        <div class="col-12 p-3">
                                            <div id="drop-zone" class="drop-zone">
                                                <p class="drop-zone-text">
                                                    <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                                </p>
                                                <input type="file" id="file-input" class="drop-zone-input" multiple>
                                                <div id="preview-container" class="row preview-container"></div> <!-- Added for preview -->
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-12 p-3">
                                        <div id="drop-zone" class="drop-zone">
                                            <p class="drop-zone-text">
                                                <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                            </p>
                                            <input type="file" id="file-input" class="drop-zone-input" multiple>
                                            <div id="preview-container" class="row preview-container"></div> <!-- Added for preview -->
                                        </div>
                                    </div>
                                }
                                <div class="col-12">
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radios-inline-approval"
                                               value="@(LockStatusID != null ? 6 : 4)"
                                        @(Model.PM_StatusID == (LockStatusID != null ? 6 : 4) ? "checked" : "")
                                        @(PM_Actiontype == "submit" && UnitFormStatusID != 2 ? "disabled" : "")>
                                        <span class="form-check-label">
                                            @(LockStatusID != null ? "ผ่านเพื่อส่ง PJM Head" : "อนุมัติ")
                                        </span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radios-inline-approval" value="5"
                                        @(Model.PM_StatusID == 5 ? "checked" : "")
                                        @(PM_Actiontype == "submit" && UnitFormStatusID != 2 ? "disabled" : "")>
                                        <span class="form-check-label">ไม่อนุมัติ</span>
                                    </label>
                                </div>
                                <div class="col-12">
                                    <textarea id="mainRemark" rows="2" class="form-control" placeholder="ระบุเหตุผลเพื่อขออนุมัติ"
                                    @(PM_Actiontype == "submit" && UnitFormStatusID != 2 ? "disabled" : "")>@Model.PM_Remarkaction</textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">&nbsp; แก้ไขล่าสุด @ActiondatePm</label>
                        </div>
                        <div class="col-6">
                            <input type="hidden" id="UnitFormID" value="@Model.ID" />
                            <input type="hidden" id="ProjectID" value="@Model.ProjectID" />
                            <input type="hidden" id="UnitID" value="@Model.UnitID" />
                            <input type="hidden" id="UnitCode" value="@Model.UnitCode" />
                            <input type="hidden" id="FormID" value="@Model.FormID" />
                            <div class="justify-content-end">
                                @if (PM_Actiontype == "submit"){
                                    if (UnitFormStatusID == 2)
                                    {
                                        <button class="btn" onclick="saveOrSubmit('save')">Save</button>
                                        <button class="btn btn-primary" onclick="saveOrSubmit('submit')">Submit</button>
                                    }
                                }
                                else
                                {
                                    <button class="btn" onclick="saveOrSubmit('save')">Save</button>
                                    <button class="btn btn-primary" onclick="saveOrSubmit('submit')">Submit</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal show image -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">รูปภาพ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-2 g-md-3" id="image-container">
                            <!-- Images will be injected here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
@section scripts{
    <script src="~/js/pages/PMApprove.js?version=@DateTime.Now.Ticks.ToString()"></script>
}
