@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var ProjectID = ViewBag.ProjectID;
    var ProjectName = ViewBag.ProjectName;
    var UnitID = ViewBag.UnitID;
    var UnitFormID = ViewBag.UnitFormID;
    var UnitCode = ViewBag.UnitCode;
    var FormID = ViewBag.FormID;
    var FormName = ViewBag.FormName;
    var UnitFormStatusID = ViewBag.UnitFormStatusID;
    var Actiondate = ViewBag.Actiondate;
    var PEActionBy = ViewBag.PEActionBy;
    var comeFrom = ViewBag.comeFrom;
    var ActiondatePm = ViewBag.ActiondatePm;
    var ActiondatePJm = ViewBag.ActiondatePJm;
    var Grade = ViewBag.Grade;
    var LockStatusID = ViewBag.LockStatusID;
    var VenderName = ViewBag.VenderName;
    var CompanyName = ViewBag.CompanyName;
    var PM_Remarkaction = ViewBag.PM_Remarkaction;
    var PM_Actiontype = ViewBag.PM_Actiontype;
    var PE_Actiontype = ViewBag.PE_Actiontype;
    var PJM_Remarkaction = ViewBag.PJM_Remarkaction;
    var PJM_Actiontype = ViewBag.PJM_Actiontype;
    var PCAll = ViewBag.PCAll;
    var PCALLPASS = ViewBag.PCALLPASS;
    var PCUnlock = ViewBag.PCUnlock;
}

@model Project.ConstructionTracking.Web.Models.ApproveFormcheckModel

<style>
    .card {
        border: none;
        border-radius: 10px;
    }

    .text-yellow {
        color: yellow;
    }

    .custom-heading {
        line-height: 1.2;
    }

    .status-dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        outline: none;
        font-size: 20px;
    }

    .drop-zone {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 6px;
        text-align: center;
        cursor: pointer;
    }

    .align-center {
        display: flex;
        align-items: center;
    }

    .align-center .material-icons {
        margin-right: 8px;
    }

    .drop-zone-text {
        margin-bottom: 10px;
    }

    .drop-zone-input {
        display: none;
    }

    .preview-container {
        margin-top: 10px;
    }

    .preview-image {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
    }

    .preview-image img {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: block;
    }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 18px;
        text-align: center;
        padding: 0;
    }

    .BackButton {
        width: 50px; /* Set a fixed width */
        height: 50px; /* Set a fixed height */
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: none;
        display: flex; /* Align the icon */
        align-items: center;
        justify-content: center;
        padding: 0; /* Remove padding for a perfect circle */
        cursor: pointer; /* Add cursor pointer for better UX */
    }

    .form-control[readonly] {
        background-color: #e9ecef; /* Light background for readonly input */
        cursor: not-allowed; /* Change cursor to indicate non-editable field */
    }
</style>

<div class="page-wrapper">
    <!-- Page header -->
    <button class="fixedButton" onclick="openModalChat('@UnitFormID','@FormID','@FormName','@UnitCode')">
        <i id="chatIcon" class="fa-solid fa-message fa-xl"></i>
    </button>
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        @if (comeFrom == "SummaryUnitForm" || ViewBag.UserRole == SystemConstant.UserRole.PE.ToString())
                        {
                            <form asp-controller="Unitlist" asp-action="GoToByRole" method="post">
                                <input type="hidden" name="projectId" id="projectId" value="@ProjectID" />
                                <input type="hidden" name="projectName" value="@ProjectName" />
                                <input type="hidden" name="unitId" value="@UnitID" />
                                <input type="hidden" name="UnitCode" value="@UnitCode" />
                                <input type="hidden" name="UnitStatusName" value="" />
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                        else if (ViewBag.UserRole == SystemConstant.UserRole.PJM.ToString())
                        {
                            <form action="@Url.Action("index","MyTaskPJM")" method="post">
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form action="@Url.Action("index","MyTaskPM")" method="post">
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h3 class="mb-0 header-text">PM ตรวจงาน @FormName</h3>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@ProjectName ( Unit : @UnitCode )</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                        <button class="status-dot bg-transparent">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <h3>ข้อมูลรายละเอียด</h3>
                            </div>
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="container mt-1">
                                                <label class="form-label">
                                                    PE/SE ผู้ควบคุมงาน : @PEActionBy
                                                </label>
                                                <label class="form-label">
                                                    เกรดที่ PE/SE ประเมินงวดนี้ : @Grade
                                                </label>
                                                <label class="form-label">
                                                    วันที่ส่งงาน : @if (PE_Actiontype == "submit")
                                                    {
                                                        @Actiondate
                                                    }
                                                </label>
                                                <label class="form-label">
                                                    การตรวจ QC : ผ่าน
                                                </label>
                                                <label class="form-label">
                                                    สร้างโดย : @CompanyName
                                                </label>
                                                <label class="form-label">
                                                    ชื่อผู้รับเหมาเซ็น : @VenderName
                                                </label>
                                                @if (PCAll != 0)
                                                {
                                                    <label class="form-label text-danger">มีการผ่านแบบมีเงื่อนไข!!!</label>
                                                }
                                                @if (UnitFormStatusID == 10 || UnitFormStatusID == 11 || UnitFormStatusID == 12)
                                                {
                                                    <div class="d-flex justify-content-center mt-2">
                                                        <form asp-controller="SummaryUnitForm" asp-action="GoToPC" method="post">
                                                            <input type="hidden" name="UnitFormID" value="@UnitFormID" />
                                                            <input type="hidden" name="ComFrom" value="PMApprove" />
                                                            <button type="submit" class="btn custom-btn btn-success" id="btn-toggle-card">ปลดล็อค</button>
                                                        </form>
                                                    </div>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl mb-3">
            <div class="row">
                @if (Model.PM_getListgroup != null)
                {
                    @foreach (var group in Model.PM_getListgroup)
                    {
                        <div class="col-md-4">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <form action="@Url.Action("Index", "FormCheckList", new { unitId = Model.UnitID, FormID = Model.FormID, GroupID = group.Group_ID, GobackTo = "PMApprove" })" method="post">
                                            @{
                                                string buttonClass = "bg-success"; // Default class
                                                string iconClass = "fa-solid fa-magnifying-glass"; // Default icon

                                                // Logic to determine button class and icon
                                                if (group.LockStatusID == 7 && group.PCFlageActive == true)
                                                {
                                                    if ((group.PC_StatusID == 7 && PM_Actiontype == "submit") || (group.PC_StatusID == 9 && PJM_Actiontype == "submit"))
                                                    {
                                                        @if (UnitFormStatusID == 2)
                                                        {
                                                            buttonClass = "bg-warning";
                                                            iconClass = "fa-solid fa-lock";
                                                        }
                                                        else
                                                        {
                                                            buttonClass = "bg-danger";
                                                            iconClass = "fa-solid fa-lock";
                                                        }
                                                    }
                                                    else if (group.PC_StatusID == 6 && PM_Actiontype == "submit")
                                                    {
                                                        buttonClass = "bg-primary";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (group.PC_StatusID == 8 && PJM_Actiontype == "submit")
                                                    {
                                                        buttonClass = "bg-success";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (group.PC_StatusID == 12)
                                                    {
                                                        buttonClass = "bg-warning";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (group.PC_StatusID == 13)
                                                    {
                                                        buttonClass = "bg-success";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (group.PC_StatusID == 14)
                                                    {
                                                        buttonClass = "bg-danger";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else
                                                    {
                                                        buttonClass = "bg-warning";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                }
                                                else if (group.LockStatusID == 8 && group.PCFlageActive == true)
                                                {
                                                    if (group.PC_StatusID == 14)
                                                    {
                                                        buttonClass = "bg-danger";
                                                        iconClass = "fa-solid fa-lock-open";
                                                    }
                                                    else if (group.PC_StatusID == 13)
                                                    {
                                                        buttonClass = "bg-success";
                                                        iconClass = "fa-solid fa-lock-open";
                                                    }
                                                    else
                                                    {
                                                        buttonClass = "bg-warning";
                                                        iconClass = "fa-solid fa-lock-open";
                                                    }
                                                }
                                            }

                                            <button class="status-dot @buttonClass">
                                                <i class="@iconClass"></i>
                                            </button>
                                        </form>

                                        <div class="ms-2 c-details">
                                            <h3 class="mb-0">
                                                @group.Group_Name
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="align-items-right">
                                        <!-- Button to open the modal and fetch images -->
                                        <button class="status-dot bg-primary" onclick="openModal('@Model.ID', '@group.Group_ID')">
                                            <i class="fa-regular fa-image"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" id="Group_ID_@group.Group_ID" value="@group.Group_ID" />
                                @if (group.PM_getListpackage != null)
                                {
                                    <div class="mb-3">
                                        <label class="form-label">ความเห็นจาก PE/SE</label>
                                        @* Build the content first *@
                                        @{
                                            var textareaContent = new System.Text.StringBuilder();
                                            foreach (var Listpackage in group.PM_getListpackage)
                                            {
                                                textareaContent.AppendLine($"{Listpackage.Package_Name} : {Listpackage.Package_Remark}");
                                            }
                                        }

                                        <textarea class="form-control mt-2"
                                                  rows="4"
                                                  style="text-align: left; white-space: pre-wrap;"
                                                  disabled>@textareaContent.ToString()</textarea>
                                    </div>
                                }

                                @if (group.LockStatusID != null)
                                {
                                    <label class="form-label">
                                        ความเห็นจาก PE/SE กรณีผ่านแบบมีเงื่อนไข
                                    </label>
                                    <textarea rows="2" class="form-control mb-3" placeholder="ความคิดเห็น" disabled>@group.PE_RemarkPC</textarea>
                                    <input type="hidden" id="pass_ID_@group.Group_ID" value="@group.PassConditionsID" />
                                    <div class="col-12 p-1">
                                        <label class="form-label">
                                            อนุมัติการผ่านแบบมีเงื่อนไข
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" data-action="gr-pass" type="radio" group-id="@group.Group_ID"
                                                   name="radios-inline-@Model.ID-@group.Group_ID"
                                                   passconID="@group.PassConditionsID"
                                                   value="6"
                                                   onclick="toggleRadio(this, '@Model.ID')"
                                                   @(group.PC_StatusID == 6  || group.PC_StatusID == 8  || group.PC_StatusID == 9  ||
                                                     group.PC_StatusID == 10 || group.PC_StatusID == 11 || group.PC_StatusID == 12 ||
                                                     group.PC_StatusID == 13 || group.PC_StatusID == 14 ? "checked" : "")
                                                   @((PJM_Actiontype == "submit" && group.PC_StatusID == 8) || (UnitFormStatusID == null || UnitFormStatusID == 1 || UnitFormStatusID > 3 || group.PCFlageActive == false) || ViewBag.UserRole != SystemConstant.UserRole.PM.ToString() ? "disabled" : "")
                                            >
                                            <span class="form-check-label">ผ่านเพื่อส่ง PJM Head</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input"
                                                   data-action="gr-pass"
                                                   type="radio"
                                                   group-id="@group.Group_ID"
                                                   name="radios-inline-@Model.ID-@group.Group_ID"
                                                   data-pc-flag-active="@group.PCFlageActive"  
                                                   value="7"
                                                   onclick="toggleRadio(this, '@Model.ID')"
                                                   @(group.PC_StatusID == 7 ? "checked" : "")
                                                   @((PJM_Actiontype == "submit" && group.PC_StatusID == 8) || (UnitFormStatusID == null || UnitFormStatusID == 1 || UnitFormStatusID > 3 || group.PCFlageActive == false) || ViewBag.UserRole != SystemConstant.UserRole.PM.ToString() ? "disabled" : "")
                                             >
                                          <span class="form-check-label">ไม่ผ่าน</span>
                                        </label>
                                    </div>
                                    <div class="col-12 p-1 mb-2">
                                        <label class="form-label">
                                            ความเห็น PM ผ่านกรณีผ่านแบบมีเงื่อนไข
                                        </label>
                                        <textarea id="remark_@group.Group_ID"
                                                  rows="1"
                                                  class="form-control"
                                                  placeholder="ระบุเหตุผลเพื่อขออนุมัติ"
                                        @((PJM_Actiontype == "submit" && group.PC_StatusID == 8) || 
                                                                       ( UnitFormStatusID == null || 
                                                                         UnitFormStatusID == 1 || 
                                                                         UnitFormStatusID > 3 || 
                                                                         group.PCFlageActive == false) || 
                                                                         ViewBag.UserRole != SystemConstant.UserRole.PM.ToString()
                                                                         ? "disabled" : "")>@group.PM_RemarkPC</textarea>
                                    </div>
                                    @if (PJM_Actiontype == "submit")
                                    {
                                        <label class="form-label @(group.PC_StatusID == 8 || group.PC_StatusID == 12 || group.PC_StatusID == 13 || group.PC_StatusID == 14 ? "text-success" : "text-danger")">
                                            @(group.PC_StatusID == 8 || group.PC_StatusID == 12 || group.PC_StatusID == 13 || group.PC_StatusID == 14 ? "PJM อนมัติการผ่านแบบมีเงื่อนไข" : "PJM ไม่อนมัติการผ่านแบบมีเงื่อนไข")
                                        </label>
                                        <div class="col-12 p-1 mb-2">
                                            <textarea id="PJM_remark"
                                                      rows="1"
                                                      class="form-control"
                                                      disabled
                                            >@group.PJM_RemarkPC</textarea>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>ยังไม่มีข้อมูล.</p>
                }
            </div>
        </div>
        <div class="container-xl mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="ribbon ribbon-top bg-yellow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                            <path d="M13.5 6.5l4 4" />
                        </svg>
                    </div>
                    <h3 class="card-title align-center">
                        <button type="button"
                                class="status-dot bg-secondary">
                            <i class="fa-solid fa-user"></i>
                        </button>
                        <div class="ms-2 c-details">
                            <h3 class="mb-0">
                                บันทึกผลการอนุมัติในงวดนี้
                            </h3>
                        </div>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <!-- Profile Image -->
                           <input type="hidden" id="listimagecnt" value="@Model.PM_getListImage.Count" />
                            @foreach (var listimage in Model.PM_getListImage)
                            {
                                <div class="position-relative d-inline-block mb-3">
                                    <a data-fslightbox="gallery" href="~/@listimage.FilePath">
                                        <img src="~/@listimage.FilePath" alt="Profile Image" class="img-thumbnail" style="width: 90px; height: 90px; border-radius: 50%; object-fit: cover;">
                                    </a>
                                    @if (ViewBag.UserRole == SystemConstant.UserRole.PM.ToString())
                                    {
                                        @if (PM_Actiontype == "submit")
                                        {
                                            if (UnitFormStatusID == 2)
                                            {
                                                <button type="button" class="remove-button" onclick="deleteImage('@listimage.ResourceID')">✖</button>
                                            }
                                        }
                                        else
                                        {
                                            <button type="button" class="remove-button" onclick="deleteImage('@listimage.ResourceID')">✖</button>
                                        }
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radios-inline-approval"
                                               value="@(LockStatusID != null && PCALLPASS != "yes" ? 6 : 4)"
                                                @(Model.PM_StatusID == 4 ? "checked" : Model.PM_StatusID == 6 ? "checked" : "")
                                                @((UnitFormStatusID != 2 && UnitFormStatusID != 3) || ViewBag.UserRole != SystemConstant.UserRole.PM.ToString() ? "disabled" : "") 
                                                onclick="toggleRadio(this, '@Model.ID')"
                                         >
                                        <span class="form-check-label">
                                            @(LockStatusID != null && PCALLPASS != "yes" ? "อนุมัติผ่านแบบมีเงื่อนไข" : "อนุมัติ")
                                        </span>
                                    </label>

                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radios-inline-approval" value="5"
                                            @(Model.PM_StatusID == 5 ? "checked" : "")
                                            @((UnitFormStatusID != 2 && UnitFormStatusID != 3) || ViewBag.UserRole != SystemConstant.UserRole.PM.ToString() ? "disabled" : "")
                                             onclick="toggleRadio(this, '@Model.ID')"
                                         >
                                        <span class="form-check-label">ไม่อนุมัติ</span>
                                    </label>
                                </div>
                                <div class="col-12 mb-2">
                                    <input type="text" id="PMRemark" class="form-control" value="ทำรายการโดย : @Model.PM_ActionBy @ActiondatePm" readonly>
                                </div>
                                <div class="col-12">
                                    <textarea id="mainRemark" rows="2" class="form-control" placeholder=""
                                    @((UnitFormStatusID != 2 && UnitFormStatusID != 3) || ViewBag.UserRole != SystemConstant.UserRole.PM.ToString() ? "disabled" : "")>@Model.PM_Remarkaction</textarea>
                                </div>
                                @if (ViewBag.UserRole == SystemConstant.UserRole.PM.ToString())
                                {
                                    if (UnitFormStatusID == 2 || UnitFormStatusID == 3)
                                    {
                                        <div class="col-12 p-3">
                                            <div id="drop-zone" class="drop-zone">
                                                <p class="drop-zone-text">
                                                    <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                                </p>
                                                <input type="file" id="file-input" class="drop-zone-input" multiple>
                                                <div id="preview-container" class="row preview-container"></div> <!-- Added for preview -->
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex">
                        <div>
                            @if (comeFrom == "SummaryUnitForm" || ViewBag.UserRole == SystemConstant.UserRole.PE.ToString())
                            {
                                <a class="BackButton" href="@Url.Action("Index","SummaryUnitForm"
                                        , new{projectId =@ProjectID,
                                            projectName = @ProjectName,
                                            FormID = @FormID,
                                            UnitFormID = @UnitFormID,
                                            unitId  = @UnitID,
                                            UnitCode = @UnitCode})">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #77a0ed;"></i>
                                </a>
                            }
                            else if (ViewBag.UserRole == SystemConstant.UserRole.PJM.ToString())
                            {
                                <a class="BackButton" href="@Url.Action("Index","MyTaskPJM")">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #77a0ed;"></i>
                                </a>
                            }
                            else
                            {
                                <a class="BackButton" href="@Url.Action("Index","MyTaskPM")">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #77a0ed;"></i>
                                </a>
                            }
                        </div>
                        <div class="ms-auto">
                            <input type="hidden" id="UnitFormID" value="@Model.ID" />
                            <input type="hidden" id="ProjectID" value="@Model.ProjectID" />
                            <input type="hidden" id="UnitID" value="@Model.UnitID" />
                            <input type="hidden" id="UnitCode" value="@Model.UnitCode" />
                            <input type="hidden" id="FormID" value="@Model.FormID" />
                            <div class="justify-content-end">
                                @if (ViewBag.UserRole == SystemConstant.UserRole.PM.ToString())
                                {
                                    if (UnitFormStatusID == 2 || UnitFormStatusID == 3)
                                    {
                                        <button class="btn" onclick="saveOrSubmit('save')">บันทึกร่าง</button>
                                        <button class="btn btn-primary" onclick="saveOrSubmit('submit')">ยืนยัน</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal show image -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">รูปภาพ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-2 g-md-3" id="image-container">
                            <!-- Images will be injected here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
@section scripts{
    <script src="~/js/pages/PMApprove.js?version=@DateTime.Now.Ticks.ToString()"></script>
    <script>
         $(document).ready(function () {
            function adjustTextareaRows() {
                if ($(window).width() <= 576) {
                    $('textarea.form-control').attr('rows', 4);
                } else {
                    $('textarea.form-control').attr('rows', 2);
                }
            }

            adjustTextareaRows(); // Initial call
            $(window).resize(adjustTextareaRows); // Call on window resize
        });
    </script>
}
