@model Project.ConstructionTracking.Web.Models.MCompanyModel.DetailCompanyModel
@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";

    ViewData["Title"] = "Detail Company";
}
@section Styles{
    <link href="~/lib/datatable/jquery.datatables.min.css?ver=@DateTime.Now.Ticks.ToString()" rel="stylesheet" />
}
<style>
    .btn-search {
        border: 0px;
        background-color: transparent;
        color: inherit;
    }

    .btn-rounded {
        border-radius: 20px;
    }

    .search-rounded {
        cursor: pointer;
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }

    .form-control-rounded {
        border-radius: 10rem
    }
</style>

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row">
                <div class="col-3">
                    <a href="javascript:history.back()" class="btn btn-secondary mb-3">
                        <i class="fas fa-chevron-left"></i> <span>Go Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <!-- Card for Company Information -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2 class="page-title">ข้อมูล Company</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="company-name" class="form-label">ชื่อ</label>
                            <input type="text" class="form-control" id="company-name" value="@Model.CompanyName">
                            <input type="hidden" id="company-id" value="@Model.CompanyID" />
                            <div id="company-name-error" class="text-danger"></div> <!-- Error message container -->
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label class="form-label">Mapping โครงการ</label>
                            <select class="js-example-responsive" id="multiple-select-project" multiple="multiple" style="width: 100%">
                                @foreach (var data in Model.ProjectLists)
                                {
                                    var isSelected = Model.ProjectMappings.Any(mapping => mapping.ProjectID == data.ProjectID);
                                    if (isSelected)
                                    {
                                        <option value="@data.ProjectID" selected>@data.ProjectName</option>
                                    }
                                    else
                                    {
                                        <option value="@data.ProjectID">@data.ProjectName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-start">
                                <button id="save-mapping" type="submit" class="btn btn-success">บันทึก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card for Vendor Information -->
            <div class="card mb-3">
                <div class="card-header">
                    <h2 class="page-title">ข้อมูล Vendor</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-lg-5">
                            <label for="vendor-name" class="form-label">ชื่อผู้ควบคุมงาน</label>
                            <input type="text" class="form-control" id="vendor-name" value="">
                            <div id="vendor-name-error" class="text-danger"></div> <!-- Error message container -->
                        </div>
                        <div class="col-lg-5">
                            <label for="vendor-email" class="form-label">อีเมลล์</label>
                            <input type="text" class="form-control" id="vendor-email" value="">
                            <div id="vendor-email-error" class="text-danger"></div> <!-- Error message container -->
                        </div>
                        <div class="col-lg-2">
                            <label></label>
                            <div class="justify-content-start" style="margin-top:8px;">
                                <button id="create-vendor" type="submit" class="btn btn-primary" style="width:100%">เพิ่ม</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="card-table table-responsive">
                            <partial name="Partial_List_MVendor" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="Partial_Modal_Edit_V" />
<partial name="Partial_Delete_CompanyVendor" />

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/datatable/jquery.datatables.min.js"></script>
    <script src="~/js/pages/detailcompany.js?version=@DateTime.Now.Ticks.ToString()"></script>

    <script type="text/javascript">$(document).ready(function () {
            detailCom.init();
        });</script>
}