<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
@model List<Project.ConstructionTracking.Web.Models.StoreProcedureModel.UnitFormStatusModel>
<style>
        #custom-card {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .dataTables_wrapper .dataTables_length, 
        .dataTables_wrapper .dataTables_filter {
            margin-bottom: 5px;
        }
        .dataTables_wrapper .dataTables_length select {
            border: 5px solid #dee2e6;
            border-radius: 8px;
            padding: 10px;
            margin-left: 10px;
        }
        .dataTables_wrapper .dataTables_filter input {
            border: 1px solid #dee2e6;
            border-radius: 4px;
            padding: 5px;
            margin-left: 5px;
        }

        .table-responsive {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }

        .custom-table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            font-size: 12px; /* Smaller text size */
        }

        .custom-table td {
            padding: 4px 6px 8px 12px;
            text-align: left;
            border: 1px solid #dee2e6;
        }

        .custom-table th {
            padding: 4px 6px 8px 12px;
            background-color: #f8f9fa;
            font-size: 12px;
            border: 1px solid #050505;
            text-align: center;
        }

        .custom-table tbody tr:hover {
            background-color: #eff584;
        }

</style>
<div class="card" id="custom-card">
    <div class="card-header">
        <h2>
            Unit @ViewBag.UnitCode
        </h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="custom-table">
                <thead>
                    <tr>
                        <th>
                            งวดที่
                        </th>
                        <th>
                            ผู้รับเหมา
                        </th>
                        <th>
                            งวด QC
                        </th>
                        <th>
                            Progress
                        </th>
                        <th>
                            จำนวนวัน
                        </th>
                        <th>
                            วันที่แผนเริ่ม
                        </th>
                        <th>
                            วันที่แผนเสร็จ
                        </th>
                        <th>
                            วันที่เริ่มจริง
                        </th>
                        <th>
                            วันที่เสร็จจริง
                        </th>
                        <th>
                            ผ่านแบบมีเงื่อนไข
                        </th>
                        <th>
                            สถานะเบิกจ่ายงวดงาน
                        </th>
                        <th>
                            ปลดล็อค ผ่านแบบมีเงื่อนไข
                        </th>
                        <th>
                            ใบตรวจงวดงาน
                        </th>
                        <th>
                            Checklist QC
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                            <td>@item.Form</td>
                            <td>@item.Vender</td>
                            <td>@item.QC</td>
                            <td>@item.Progress %</td>
                            <td>@item.DurationDay วัน</td>
                            <td>@item.StartPlan</td>
                            <td>@item.EndPlan</td>
                            <td>@item.PESave</td>
                            <td>@item.PMSubmit</td>
                            <td class="@(
                                        item.PCStatus == "มี/ขอล็อคแล้ว" ? "text-success" :
                                        item.PCStatus == "มี/ปลดล็อคแล้ว" ? "text-warning" :
                                        item.PCStatus == "มี/ไม่อนุมัติปลดล็อค" ? "text-danger" :
                                        ""
                                        )">@item.PCStatus
                            </td>
                            <td class="text-success">@item.DisbursementStatus</td>
                            <td>@item.PCUnlock</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.UnitFormPDF))
                                {
                                    <a href="@item.UnitFormPDF" target="_blank">
                                        <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                    </a>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.QCPDF))
                                {
                                    <a href="@item.QCPDF" target="_blank">
                                        <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                    </a>
                                }
                            </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
