@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var projectId = ViewBag.ProjectId;
    var projectName = ViewBag.ProjectName;
    var FormID = ViewBag.FormID;
    var UnitFormID = ViewBag.UnitFormID;
    var UnitFormName = ViewBag.UnitFormName;
    var unitId = ViewBag.unitId;
    var UnitCode = ViewBag.UnitCode;
    var UnitStatusName = ViewBag.UnitStatusName;
    var UnitFormMainStatusID = ViewBag.UnitFormMainStatusID;
    var FormGroupDetail = ViewBag.FormGroupDetail;
    var PEActionBy = ViewBag.PEActionBy;
    var PEActionDate = ViewBag.PEActionDate;
    var Signaldate = ViewBag.Signaldate;
    var CompanyvenderName = ViewBag.CompanyvenderName;
    var GobackTo = ViewBag.GobackTo;
    var comeFrom = ViewBag.comeFrom;
    var RoleID = ViewBag.RoleID;
    var grade = FormGroupDetail?.Grade;
    var VenderName = FormGroupDetail?.VenderName;
    var VenderValue = FormGroupDetail?.VenderID;
    var UnitFormstatusID = FormGroupDetail?.UnitFormstatusID;
    var UnitFormstatus = FormGroupDetail?.UnitFormstatus;
    var PE_ActionType = FormGroupDetail?.PE_ActionType;
    var PE_StatusID = FormGroupDetail?.PE_StatusID;
    var PM_ActionType = FormGroupDetail?.PM_ActionType;
    var PM_StatusID = FormGroupDetail?.PM_StatusID;
    var PM_Remark = FormGroupDetail?.PM_Remark;
    var PJM_ActionType = FormGroupDetail?.PJM_ActionType;
    var PJM_Remark = FormGroupDetail?.PJM_Remark;
    var PJM_StatusID = FormGroupDetail?.PJM_StatusID;
    var FilePath = FormGroupDetail?.FilePath;
    var ListVender = ViewBag.ListVender;
    
}
@model List<Project.ConstructionTracking.Web.Models.FormGroupModel>
<style>

    .status-dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        outline: none;
        font-size: 18px;
    }

    .card {
        border: none;
        border-radius: 10px;
    }

    .c-details span {
        font-weight: 300;
        font-size: 13px
    }

    .badge span {
        background-color: #fffbec;
        width: 60px;
        height: 25px;
        padding-bottom: 3px;
        border-radius: 5px;
        display: flex;
        color: #fed85d;
        justify-content: center;
        align-items: center
    }

    #icon {
        width: 50px;
        height: 50px;
        background-color: #eee;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px
    }

    .progress {
        height: 10px;
        border-radius: 10px
    }

    .progress div {
        background-color: red
    }

    .text1 {
        font-size: 14px;
        font-weight: 600
    }

    .text2 {
        color: green
    }

    .text3 {
        color: red
    }

    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 9999; /* Ensure it appears on top */
      background-color: #fff;
      max-height: 200px;
      overflow-y: auto;
      left: 0; /* Aligns with the input */
      right: 0; /* Aligns with the input */
    }

    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }

    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }

    .autocomplete-active {
      background-color: DodgerBlue !important;
      color: #ffffff;
    }

    .image-preview {
        display: none;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .image-upload-input {
        display: none;
    }

    .image-text {
        position: absolute;
        bottom: 5px; /* Adjust this value to control the vertical positioning */
        right: 5px; /* Adjust this value to control the horizontal positioning */
        color: white; /* Text color */
        font-size: 12px; /* Font size */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better visibility */
        padding: 2px 5px; /* Padding around the text */
        border-radius: 3px; /* Rounded corners for the background */
    }


  .custom-btn {
    width: 100px;  /* Ensures consistent width */
    height: 45px;  /* Ensures consistent height */
    padding: 10px;  /* Adjust padding for a consistent look */
    font-size: 16px;  /* Ensures consistent font size */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.custom-btn i {
    margin-right: 5px; /* Optional: spacing for icons if text is also present */
}

.custom-btn .fa-signature {
    font-size: 20px; /* Adjust icon size */
}

.form-control[readonly] {
    background-color: #e9ecef; /* Light background for readonly input */
    cursor: not-allowed; /* Change cursor to indicate non-editable field */
}

</style>

<style>

    /* Approved Card */
    #approved-card-1 {
        background-color: #e0f7f1;
    }

    #approved-icon {
        font-size: 50px;
        margin-bottom: 15px;
        color: #28a745;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px; /* Adjust height if necessary */
    }

    #approved-title {
        font-size: 24px;
        font-weight: bold;
    }

    #approved-text {
        font-size: 16px;
        margin-bottom: 20px;
        color: #555;
    }

    #btn-approved-1 {
        background-color: #28a745;
        border-color: #28a745;
        border-radius: 30px;
        padding: 10px 20px;
        font-weight: bold;
    }

    /* Rejected Card */
    #rejected-card {
        background-color: #fdecea;
    }

    #rejected-icon {
        font-size: 50px;
        margin-bottom: 15px;
        color: #dc3545;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px; /* Adjust height if necessary */
    }

    #rejected-title {
        font-size: 24px;
        font-weight: bold;
    }

    #rejected-text {
        font-size: 16px;
        margin-bottom: 20px;
        color: #555;
    }

    #btn-rejected {
        background-color: #dc3545;
        border-color: #dc3545;
        border-radius: 30px;
        padding: 10px 20px;
        font-weight: bold;
    }

    /* In Progress Card */
    #in-progress-card {
        background-color: #fff8e1;
    }

    #progress-icon {
        font-size: 50px;
        margin-bottom: 15px;
        color: #ffc107;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px; /* Adjust height if necessary */
    }

    #progress-title {
        font-size: 24px;
        font-weight: bold;
    }

    #progress-text {
        font-size: 16px;
        margin-bottom: 20px;
        color: #555;
    }

    #btn-in-progress {
        background-color: #ffc107;
        border-color: #ffc107;
        border-radius: 30px;
        padding: 10px 20px;
        font-weight: bold;
    }

    .custom-label {
        background-color: red; /* Red background */
        color: white; /* White text color */
        font-size: 20px; /* Keep the font size */
        padding: 5px; /* Add some padding around the text */
        border-radius: 3px; /* Optional: add rounded corners */
        text-align: center; /* Center the text within the label */
    }

</style>

<button class="fixedButton" onclick="openModalChat('@UnitFormID','@FormID','@UnitFormName','@UnitCode')">
    <i id="chatIcon" class="fa-solid fa-message fa-xl"></i>
</button>


<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" name="UnitFormID" id="UnitFormID" value="@UnitFormID" />
                <input type="hidden" name="projectId" id="projectId" value="@projectId" />
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        @if (comeFrom == "MyTaskPE")
                        {
                            <form asp-controller="MyTaskPE" asp-action="Index" method="post">
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Unitlist" asp-action="GoToByRole" method="post">
                                <input type="hidden" name="projectId" id="projectId" value="@projectId" />
                                <input type="hidden" name="projectName" value="@projectName" />
                                <input type="hidden" name="unitId" value="@unitId" />
                                <input type="hidden" name="UnitCode" value="@UnitCode" />
                                <input type="hidden" name="UnitStatusName" value="@UnitStatusName" />
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h3 class="mb-0 header-text"> @UnitFormName ( Unit : @UnitCode )</h3>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@projectName (สถานะ : @UnitStatusName)</h5>
                        </div>
                    </div>
                    <div class="align-items-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        @if (PE_ActionType == "save")
        {
            <label id="statusLabel" class="form-label custom-label">ยังไม่ได้ Submit</label>
        }
        else if (PE_ActionType == "submit")
        {
            @if (UnitFormstatusID == 5 || UnitFormstatusID == 8)
            {
                <label class="form-label custom-label">ยังไม่ได้ Submit</label>
            }
        }
        @if (PE_ActionType == "submit")
        {
            <div class="container mt-1 mb-2">
            <div class="row">
                <div class="mb-1">
                @if (UnitFormstatusID == 2 || UnitFormstatusID == 3 || UnitFormstatusID == 6 || UnitFormstatusID == 9)
                {
                    <!-- In Progress Card -->
                    <div class="col-md-4">
                        <div id="in-progress-card" class="card">
                            <div class="card-body text-center">
                                <br>
                                <h3 id="progress-title" class="card-title">@UnitFormstatus</h3>
                                <p id="progress-text" class="card-text">ความคิดเห็น PM : @(PM_ActionType == "submit" ? PM_Remark : "")</p>
                            </div>
                        </div>
                    </div>
                }
                else if (UnitFormstatusID == 4 || UnitFormstatusID == 7)
                {
                    <!-- Approved Card 1 -->
                    <div class="col-md-4">
                        <div id="approved-card-1" class="card">
                            <div class="card-body text-center">
                                <button class="btn" id="btn-approved-1">
                                    <span class="status-text"><i class="fa-regular fa-circle-check"></i></span>
                                </button>
                                <h3 id="approved-title" class="card-title">@UnitFormstatus</h3>
                                <p id="progress-text" class="card-text">
                                    ความคิดเห็น PM : @(PM_ActionType == "submit" ? PM_Remark : "ไม่มีความคิดเห็น") <br>
                                    ความคิดเห็น PJM : @(PJM_ActionType == "submit" ? PJM_Remark : "ไม่มีความคิดเห็น")
                                </p>
                                @if (UnitFormMainStatusID == 7)
                                {
                                    <div class="d-flex justify-content-center">                                     
                                            <form asp-controller="SummaryUnitForm" asp-action="GoToPC" method="post">
                                                <input type="hidden" name="UnitFormID" value="@UnitFormID" />
                                                <button type="submit" class="btn custom-btn btn-warning" id="btn-toggle-card">ขอปลดล็อค</button>
                                            </form>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                else if (UnitFormstatusID == 5 || UnitFormstatusID == 8)
                {
                    <!-- Rejected Card -->
                    <div class="col-md-4">
                        <div id="rejected-card" class="card">
                            <div class="card-body text-center">
                                <button class="btn" id="btn-rejected">
                                    <span class="status-text"><i class="fa-regular fa-circle-xmark"></i></span>
                                </button>
                                <h3 id="rejected-title" class="card-title">@UnitFormstatus</h3>
                                <p id="progress-text" class="card-text">
                                    ความคิดเห็น PM : @(PM_ActionType == "submit" ? PM_Remark : "ไม่มีความคิดเห็น") <br>
                                    ความคิดเห็น PJM : @(PJM_ActionType == "submit" ? PJM_Remark : "ไม่มีความคิดเห็น")
                                </p>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
            </div>
        }
        <div class="container mt-1 mb-2">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <form asp-controller="FormGroup" asp-action="GoToFormChecklist" method="post">
                            <input type="hidden" id="FormID" name="FormID" value="@FormID" />
                            <input type="hidden" id="unitId" name="unitId" value="@unitId" />
                            <input type="hidden" name="GobackTo" value="@GobackTo" />
                            <input type="hidden" name="GroupID" value="@item.GroupID" />

                            <div class="card card-link card-link-pop p-3 mb-2" onclick="this.closest('form').submit();">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <button type="button" class="status-dot bg-@item.StatusUse @(item.StatusUse == "danger" || item.StatusUse == "warning" ? "status-dot-animated" : "")">
                                            @if (item.StatusUse == "success")
                                            {
                                                <i class="fa-regular fa-circle-check"></i>
                                            }
                                            else if (item.StatusUse == "danger")
                                            {
                                                <i class="fa-regular fa-circle-xmark"></i>
                                            }
                                            else if (item.StatusUse == "warning")
                                            {
                                                <i class="fa-solid fa-file-pen"></i>
                                            }
                                            else if (item.StatusUse == "secondary")
                                            {
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            }
                                        </button>
                                        <div class="ms-2 c-details">
                                            <h3 class="mb-0">@item.GroupName</h3>
                                        </div>
                                    </div>
                                    @if (item.LockStatusID != null)
                                    {
                                        <div class="ms-auto">
                                            @if (item.PCFlagActive == true)
                                            {
                                                @if (item.LockStatusID == 7)
                                                {
                                                    @if (item.StatusID == 7 && PM_ActionType == "submit" || item.StatusID == 9 && PJM_ActionType == "submit")
                                                    {
                                                        <button type="button" class="status-dot bg-danger ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock"></i></span>
                                                        </button>
                                                    }
                                                    else if (item.StatusID == 6 && PM_ActionType == "submit")
                                                    {
                                                        <button type="button" class="status-dot bg-primary ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock"></i></span>
                                                        </button>
                                                    }
                                                    else if (item.StatusID == 8 && PJM_ActionType == "submit")
                                                    {
                                                        <button type="button" class="status-dot bg-success ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock"></i></span>
                                                        </button>
                                                    }
                                                    else if (item.StatusID == null)
                                                    {
                                                        <button type="button" class="status-dot bg-warning ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock"></i></span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="status-dot bg-primary ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock"></i></span>
                                                        </button>
                                                    }
                                                }
                                                else if (item.LockStatusID == 8)
                                                {
                                                    @if (item.StatusID == 14)
                                                    {
                                                        <button type="button" class="status-dot bg-danger ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock-open"></i></span>
                                                        </button>
                                                    }
                                                    else if (item.StatusID == 13)
                                                    {
                                                        <button type="button" class="status-dot bg-success ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock-open"></i></span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="status-dot bg-warning ms-auto">
                                                            <span class="status-text"><i class="fa-solid fa-lock-open"></i></span>
                                                        </button>
                                                    }
                                                }
                                            }
                                        </div>
                                    }
                                </div>

                                <div class="mt-3">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span class="text1">รายการทั้งหมด @item.Cnt_CheckList_All </span></li>
                                        <li class="breadcrumb-item" aria-current="page"><span class="text2">ผ่านแล้ว @item.Cnt_CheckList_Pass </span></li>
                                        <li class="breadcrumb-item" aria-current="page"><span class="text3">ไม่ผ่าน @item.Cnt_CheckList_NotPass</span></li>
                                    </ol>
                                    @if (item.LockStatusID != null)
                                    {
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><span class="text1">สถานะการผ่านแบบมีเงื่อนไข</span></li>
                                            <li class="breadcrumb-item" aria-current="page">
                                                @if (PE_ActionType == "submit")
                                                {
                                                    <span class="@(item.StatusID == 8 || item.StatusID == 13 ? "text-success" :
                                                    (item.StatusID == 6 || item.StatusID == 12 ||
                                                    item.StatusID != 7 && item.StatusID != 9 && item.StatusID != 14 ? "text-warning" : "text-danger"))">
                                                        @(
                                                            item.StatusID == 6 ? "PM ส่งให้ PJM พิจารณา" :
                                                            item.StatusID == 7 ? "PM ไม่อนุมัติ" :
                                                            item.StatusID == 8 ? "PJM อนุมัติ" :
                                                            item.StatusID == 9 ? "PJM ไม่อนุมัติ" :
                                                            item.StatusID == 12 ? "ขออนุมัติ Unlock" :
                                                            item.StatusID == 13 ? "อนุมัติ Unlock" :
                                                            item.StatusID == 14 ? "ไม่อนุมัติ Unlock" : "ส่งให้ PM พิจารณา"
                                                            )
                                                    </span>
                                                }
                                            </li>
                                        </ol>
                                    }
                                </div>
                                <div class="mt-3">
                                    @if (item.LockStatusID != null)
                                    {
                                        <div class="mb-3">
                                            <a href="#!" class="form-label" onclick="toggleComments(event, '@item.GroupID')">
                                                ความคิดเห็นการผ่านแบบมีเงื่อนไข:
                                            </a>
                                            <div class="collapse show" id="collapseComments_@item.GroupID">
                                                <!-- Added the 'show' class here -->
                                                <textarea class="form-control mt-2"
                                                          rows="4"
                                                          style="text-align: left; white-space: pre-wrap;"
                                                          disabled>ความเห็นจาก PE : @item.PC_Remark_PE &#013;ความเห็นจาก PM : @(PM_ActionType == "submit" ? item.PC_Remark_PM : "") &#013;ความเห็นจาก PJM : @(PJM_ActionType == "submit" ? item.PC_Remark_PJM : "")</textarea>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                }

            </div>
        </div>
        <div class="container mt-1 mb-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <div id="icon"> <i class="fa-solid fa-building-user"></i></div>
                                    <div class="ms-2 c-details">
                                        <h3 class="mb-0">ประเมิณคุณภาพการทำงานในงวด</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center" style="padding-top: 1.5rem; background-color: #e0f0ff; border-radius: 5px; padding: 10px;">
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radios-inline" value="A" onclick="toggleRadio(this)" @(grade == "A" ? "checked" : "") @(ViewBag.UserRole != "1" ? "disabled" : "") >
                                    <span class="form-check-label">A</span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radios-inline" value="B" onclick="toggleRadio(this)" @(grade == "B" ? "checked" : "") @(ViewBag.UserRole != "1" ? "disabled" : "") >
                                    <span class="form-check-label">B</span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radios-inline" value="C" onclick="toggleRadio(this)" @(grade == "C" ? "checked" : "") @(ViewBag.UserRole != "1" ? "disabled" : "") >
                                    <span class="form-check-label">C</span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radios-inline" value="D" onclick="toggleRadio(this)" @(grade == "D" ? "checked" : "") @(ViewBag.UserRole != "1" ? "disabled" : "") >
                                    <span class="form-check-label">D</span>
                                </label>
                            </div>
                            <div class="mt-3">
                                <label class="form-label">PE/SE ผู้ควบคุมงาน</label>
                                <input type="text" id="PERemark" class="form-control" value="ทำรายการโดย :@PEActionBy @PEActionDate" readonly>
                            </div>
                            <div class="mt-3">
                                <label class="form-label">บริษัทผู้รับเหมา</label>
                                <input type="text" id="PERemark" class="form-control" value="@CompanyvenderName" readonly>
                            </div>
                            <!-- Card A -->
                            @if (ViewBag.UserRole == "1")
                            {
                                <div id="cardA" class="col-sm-12 mt-1 mb-2">
                                    <div class="col-sm-12 mt-1 mb-2" style="position: relative;">
                                        <label for="ddlList" class="form-label">เลือกผู้รับเหมา</label>
                                        <input id="ddlList" name="unitStatusId" class="form-control" autocomplete="off">
                                        <div id="autocomplete-list" class="autocomplete-items"></div>
                                        <input type="hidden" id="selectedVendorValue" name="selectedVendorValue">
                                    </div>
                                 </div>
                            }

                           <!-- Card B -->
                            <div id="cardB" class="col-sm-12 mt-1 mb-2">
                                <div class="col-sm-12 mt-1 mb-2" style="position: relative;">
                                    <label class="form-label">ผู้รับเหมา</label>
                                    <input type="text" class="form-control" name="example-disabled-input" placeholder="เลือกผู้รับเหมา" value="@(!string.IsNullOrEmpty(VenderName) ? VenderName : "")" disabled>
                                    <!-- Hidden input for VenderName -->
                                    <input type="hidden" id="hiddenVenderName" name="hiddenVenderName" value="@VenderName">
                                </div>
                            </div>


                            @if (ViewBag.UserRole == "1")
                            {
                                <!-- Card C -->
                                <div id="cardC" class="col-sm-12 mt-1 mb-2">
                                    <label for="signature-pad" class="form-label">ลงลายเซ็นผู้รับเหมา</label>
                                    <div id="signature-pad" class="signature-pad" style="justify-content:center;align-items:center;display:flex;">
                                        <div class="signature-pad--body" style="width:340px;height:260px; background-color: grey;">
                                            <canvas></canvas>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="button" class="clear btn btn-default"><i class="fas fa-reply"></i> เคลียร์</button>
                                    </div>
                                </div>
                            }

                            <!-- Card D -->
                            <div id="cardD" class="col-sm-12 mt-1 mb-2">
                                <label class="form-label">ลายเซ็นผู้รับเหมา</label>
                                @if (!string.IsNullOrEmpty(FilePath))
                                {

                                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal1" style="position: relative; display: inline-block;">
                                        <img src="~/@FilePath" alt="Gallery Image 1" class="rounded" style="width:340px;height:260px;">
                                        <span class="image-text">ลงลายเซ็นวันที่ : @Signaldate</span>
                                    </a>

                                    <!-- Hidden input for FilePath -->
                                    <input type="hidden" id="hiddenFilePath" name="hiddenFilePath" value="@FilePath">
                                }
                                else
                                {
                                    <label class="form-label text-danger">ผู้รับเหมายังไม่ได้เซ็น</label>

                                    <!-- Hidden input for FilePath when it's null -->
                                    <input type="hidden" id="hiddenFilePath" name="hiddenFilePath" value="Noimage">
                                }
                                <div class="col-12 text-center">
                                    <!-- Add any additional content or buttons here -->
                                </div>
                            </div>
                        </div>
                        <!-- Card footer -->
                        <div class="card-footer">
                            @if (ViewBag.UserRole == "1")
                            {
                                @if (PE_ActionType == "submit")
                                {
                                    if (UnitFormstatusID == 5 && PM_ActionType == "submit")
                                    {
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <button class="btn custom-btn btn-secondary" data-bs-toggle="modal" id="btn-save-form">บันทึกร่าง</button>
                                                </div>
                                                <div class="text-center">
                                                    <button type="button" class="btn custom-btn btn-warning" id="btn-toggle-card">เซ็นใหม่</button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn custom-btn btn-primary ms-auto" data-bs-toggle="modal" id="btn-submit-form">ยืนยัน</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (UnitFormstatusID == 8 && PJM_ActionType == "submit")
                                    {
                                        <div class="col-12">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <button class="btn custom-btn btn-secondary" data-bs-toggle="modal" id="btn-save-form">บันทึกร่าง</button>
                                                </div>
                                                <div class="text-center">
                                                    <button type="button" class="btn custom-btn btn-warning" id="btn-toggle-card">เซ็นใหม่</button>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn custom-btn btn-primary ms-auto" data-bs-toggle="modal" id="btn-submit-form">ยืนยัน</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <button class="btn custom-btn btn-secondary" data-bs-toggle="modal" id="btn-save-form">บันทึกร่าง</button>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn custom-btn btn-warning" id="btn-toggle-card">เซ็นใหม่</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn custom-btn btn-primary ms-auto" data-bs-toggle="modal" id="btn-submit-form">ยืนยัน</button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal modal-blur fade" id="imageModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <img src="~/@FilePath"  class="img-fluid" alt="Gallery Image 1">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/lib/core-ui/signature-pad-master/css/signature-pad.css" />
    <script src="~/lib/core-ui/signature-pad-master/js/signature_pad.umd.js"></script>
    <script src="~/js/pages/unitEquipment.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(() => {

            let allChecked = true; // Assume all tasks are complete until proven otherwise

            $('div.card-link').each(function () {
                const statusUse = $(this).find('button.status-dot').data('status-use');
                const cntCheckListAll = parseInt($(this).find('.text1').text().split(' ')[1]);
                const cntCheckListUnit = parseInt($(this).find('.text2').text().split(' ')[1]);
                const cntCheckListNotPass = parseInt($(this).find('.text3').text().split(' ')[1]);

                if (statusUse !== 'success' && !(cntCheckListAll === cntCheckListUnit && cntCheckListNotPass === 0)) {
                    $('#statusLabel').text("ยังตรวจงานไม่ครบ");
                    allChecked = false;
                    return false; // Exit the loop early if any condition fails
                }
            });

            // Optionally, if all checks pass, you can update the text to something else
            if (allChecked) {
                $('#statusLabel').text("ยังไม่ได้ Submit");
            }

            var cardA = $("#cardA");
            var cardB = $("#cardB");
            var cardC = $("#cardC");
            var cardD = $("#cardD");
            var btnToggleCard = $("#btn-toggle-card");
            var venderNameInput = $("#ddlList"); // Input for vendor name
            var hiddenVenderName = $("#hiddenVenderName").val(); // Get the value from the hidden input

            // Initially set the visibility based on FilePath
            if ("@FilePath" === "") {
                cardC.show();
                cardD.hide();
            } else {
                cardD.show();
                cardC.hide();
            }

            if (hiddenVenderName === "") {
                cardA.show();
                cardB.hide();
            } else {
                cardA.hide();
                cardB.show();
            }

            // Toggle cards on button click
            btnToggleCard.click(function () {
                cardA.toggle();
                cardB.toggle();
                cardC.toggle();
                cardD.toggle();
            });

            unitEquipment.init();

            // Prepare vendor list for autocomplete
            var availableVendors = [
        @foreach (var item in ListVender)
        {
            @Html.Raw($"{{ text: \"{item.Text}\", value: \"{item.Value}\" }},")
        }
            ];

            // Include the existing vendor name and value as the first option
            if (hiddenVenderName !== "") {
                availableVendors.unshift({ text: hiddenVenderName, value: "@VenderValue" });
                venderNameInput.val(hiddenVenderName);
                $("#selectedVendorValue").val("@VenderValue"); // Set hidden input for selected vendor
            }

            function autocomplete(input, array) {
                var currentFocus;
                input.addEventListener("input", function (e) {
                    var a, b, i, val = this.value;
                    closeAllLists();
                    if (!val) { return false; }
                    currentFocus = -1;
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    this.parentNode.appendChild(a);
                    for (i = 0; i < array.length; i++) {
                        if (array[i].text.toUpperCase().indexOf(val.toUpperCase()) !== -1) {
                            b = document.createElement("DIV");
                            var startIndex = array[i].text.toUpperCase().indexOf(val.toUpperCase());
                            var endIndex = startIndex + val.length;
                            b.innerHTML = array[i].text.substr(0, startIndex) + "<strong>" + array[i].text.substr(startIndex, val.length) + "</strong>" + array[i].text.substr(endIndex);
                            b.innerHTML += "<input type='hidden' value='" + array[i].text + "' data-value='" + array[i].value + "'>";
                            b.addEventListener("click", function (e) {
                                input.value = this.getElementsByTagName("input")[0].value;
                                document.getElementById('selectedVendorValue').value = this.getElementsByTagName("input")[0].getAttribute('data-value');
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });

                input.addEventListener("keydown", function (e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        currentFocus++;
                        addActive(x);
                    } else if (e.keyCode == 38) {
                        currentFocus--;
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        e.preventDefault();
                        if (currentFocus > -1) {
                            if (x) x[currentFocus].click();
                        }
                    }
                });

                function addActive(x) {
                    if (!x) return false;
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);
                    x[currentFocus].classList.add("autocomplete-active");
                }

                function removeActive(x) {
                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }

                function closeAllLists(elmnt) {
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != input) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }

                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }

            autocomplete(document.getElementById("ddlList"), availableVendors);
        });




        function toggleComments(event, groupId) {
            event.stopPropagation(); // Prevent the event from bubbling up and triggering form submission

            var collapseElement = document.getElementById('collapseComments_' + groupId);
            collapseElement.classList.toggle('show'); // Toggle the 'show' class
        }

    </script>


}
