<!DOCTYPE html>

<html lang="en">

<head>
    <style>
    /* Loading Animation */
    #loading {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    #loading img {
        width: 100px;
        height: 100px;
    }

    /* Styles for Modal Chatbox */
    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        overflow: auto;
        display: flex;
        align-items: center; 
        justify-content: center; 
    }

    .modal-dialog {
        position: relative;
        margin: 0 auto; /* Auto margins to center horizontally */
        max-width: none; /* Prevent Bootstrap's default max-width */
        transform: translateY(20%); /* Position a bit lower (20% from center) */
    }

    .modal-content {
        background-color: #fff;
        padding: 0;
        border: 1px solid #888;
        border-radius: 5px;
        width: 100%; /* Ensures it respects col-md-4 size */
    }

    .modal-header, .modal-footer {
        padding: 10px;
        background-color: #f1f1f1;
        border-bottom: 1px solid #ddd;
    }

    .modal-header h4 {
        margin: 0;
    }

    #chatIcon {
            color: #ff0303;
    }

    #chatMessages {
        padding: 15px;
        height: 300px;
        overflow-y: auto;
        border-bottom: 1px solid #ddd;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 20px;
        cursor: pointer;
    }

    .sendButton {
        background-color: #74C0FC; /* Button background color */
        border: none; /* Remove default border */
        color: white; /* Icon color */
        padding: 10px; /* Padding around the icon */
        border-radius: 50%; /* Make the button circular */
        cursor: pointer; /* Pointer cursor on hover */
        font-size: 16px; /* Font size for the icon */
        width: 40px; /* Width of the button */
        height: 40px; /* Height of the button */
        display: flex; /* Flexbox for centering the icon */
        align-items: center; /* Center icon vertically */
        justify-content: center; /* Center icon horizontally */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for a raised effect */
    }

    .sendButton:hover {
        background-color: #5a9edb; /* Slightly darker blue on hover */
    }

    .close:hover {
        color: #000;
    }

    #chatInput {
        width: calc(100% - 80px);
        margin-right: 5px;
        padding: 5px;
        resize: none;
    }

    .fixedButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 20px;
        z-index: 1000;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: none;
    }
    
</style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS files -->
    <link href="~/lib/core-ui/dist/css/tabler.min.css?1692870487" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/core-ui/dist/css/demo.min.css?1692870487" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <script src="~/lib/core-ui/dist/js/demo-theme.min.js?1692870487"></script>
    <script src="~/js/app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/lib/core-ui/dist/js/tabler.min.js"></script>
    <script src="~/lib/core-ui/dist/js/demo.min.js"></script>
    <script src="~/lib/core-ui/dist/js/demo-theme.min.js"></script>
    <script src="~/lib/core-ui/dist/libs/fslightbox/index.js?1692870487" defer></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.2/dist/js/select2.min.js"></script>
</head>
<body>
    <div class="page">
        <script>

            let baseUrl = '@ViewBag.baseUrl'
            let userRole = '@ViewBag.UserRole'
            let name = '@ViewBag.Name'
            let id = '@ViewBag.ID'

            function showErrorAlert(title, text) {
                Swal.fire({
                    title: title,
                    text: text,
                    icon: 'error',
                    confirmButtonText: 'ตกลง'
                });
            }

            function showSuccessAlert(title, text, callback) {
                Swal.fire({
                    title: title,
                    text: text,
                    icon: 'success',
                    confirmButtonText: 'ตกลง'
                }).then((result) => {
                    if (result.isConfirmed && callback) {
                        callback();
                    }
                });
            }

            function showLoadingAlert() {
                Swal.fire({
                    title: 'กำลังบันทึก...',
                    text: 'กรุณารอสักครู่กำลังบันทึกข้อมูล',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
            }

            function showConfirmationAlert(title, text, icon, confirmButtonText, cancelButtonText, onConfirm) {
                Swal.fire({
                    title: title,
                    text: text,
                    icon: icon,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: confirmButtonText,
                    cancelButtonText: cancelButtonText
                }).then((result) => {
                    if (result.isConfirmed) {
                        onConfirm();
                    }
                });
            }

            function scrollToElement(element) {
                element.scrollIntoView({ behavior: 'smooth', block: 'center' });
                element.focus({ preventScroll: true });
            }

        </script>
        <!-- header -->
        <header class="navbar navbar-expand-md d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    <a href="https://assetwise.co.th/">
                        <img src="~/lib/core-ui/static/img11.svg" alt="Tabler" class="navbar-brand-image img-fluid" style="max-width: 60px; height: auto;">
                    </a>
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    <div class="nav-item d-none d-md-flex me-3">
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                            <span class="avatar avatar-sm" style="background-image: url(/lib/core-ui/static/avatars/img9.png)"></span>
                            <div class="d-none d-xl-block ps-2">
                                <div>@ViewBag.Name</div>
                                <div class="mt-1 small text-secondary">
                                    @if (ViewBag.UserRole == SystemConstant.UserRole.PE.ToString())
                                    {
                                        @SystemConstant.UserRole_Desc.PE;
                                    }
                                    else if (ViewBag.UserRole == SystemConstant.UserRole.PM.ToString())
                                    {
                                        @SystemConstant.UserRole_Desc.PM;
                                    }
                                    else if (ViewBag.UserRole == SystemConstant.UserRole.PJM.ToString())
                                    {
                                        @SystemConstant.UserRole_Desc.PJM;
                                    }
                                    else if (ViewBag.UserRole == SystemConstant.UserRole.QC.ToString())
                                    {
                                        @SystemConstant.UserRole_Desc.QC;
                                    }
                                    else if (ViewBag.UserRole == SystemConstant.UserRole.ADMIN.ToString())
                                    {
                                        @SystemConstant.UserRole_Desc.ADMIN;
                                    }
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="@($"{ViewBag.baseUrl}user/detail?param={Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(ViewBag.ID.ToString()))}")" class="dropdown-item">Profile</a>
                            <a href="@ViewBag.BaseUrl" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Dashboard
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ProjectList" asp-action="Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-community">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" />
                                        <path d="M13 7l0 .01" />
                                        <path d="M17 7l0 .01" />
                                        <path d="M17 11l0 .01" />
                                        <path d="M17 15l0 .01" />
                                    </svg>
                                    <span class="nav-link-title">
                                        Project
                                    </span>
                                </a>
                            </li>
                            @if (ViewBag.UserRole == SystemConstant.UserRole.PM.ToString())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="MyTaskPM" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-list-check">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M11 6l9 0" />
                                            <path d="M11 12l9 0" />
                                            <path d="M11 18l9 0" />
                                        </svg>
                                        <span class="nav-link-title">
                                            My Task
                                        </span>
                                    </a>
                                </li>

                            }
                            @if (ViewBag.UserRole == SystemConstant.UserRole.PJM.ToString())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="MyTaskPJM" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-list-check">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M11 6l9 0" />
                                            <path d="M11 12l9 0" />
                                            <path d="M11 18l9 0" />
                                        </svg>
                                        <span class="nav-link-title">
                                            My Task
                                        </span>
                                    </a>
                                </li>
                            }
                            @if (ViewBag.UserRole == SystemConstant.UserRole.PE.ToString())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="MyTaskPE" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-list-check">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                                            <path d="M11 6l9 0" />
                                            <path d="M11 12l9 0" />
                                            <path d="M11 18l9 0" />
                                        </svg>
                                        <span class="nav-link-title">
                                            My Task
                                        </span>
                                    </a>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M3 5a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10z" />
                                        <path d="M7 20h10" />
                                        <path d="M9 16v4" />
                                        <path d="M15 16v4" />
                                    </svg>
                                    <span class="nav-link-title">
                                        Desktop
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" asp-controller="UnitStatusByProject" asp-action="Index">
                                                Unit Status By Project
                                            </a>
                                            <a class="dropdown-item" asp-controller="WorkPeriod" asp-action="Index">
                                                WorkPeriod
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-checkup-list">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                                        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                                        <path d="M9 14h.01" />
                                        <path d="M9 17h.01" />
                                        <path d="M12 16l1 1l3 -3" />
                                    </svg>
                                    <span class="nav-link-title">
                                        Report
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href="./l">
                                                Report 1
                                            </a>
                                            <a class="dropdown-item" href="./l">
                                                Report 2
                                            </a>
                                            <a class="dropdown-item" href="./l">
                                                Report 3
                                            </a>
                                            <a class="dropdown-item" href="./l">
                                                Report 4
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @if (ViewBag.UserRole == SystemConstant.UserRole.ADMIN.ToString() || ViewBag.UserRole == SystemConstant.UserRole.PM.ToString())
                             {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-settings">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                        </svg>
                                        <span class="nav-link-title">
                                            Setting
                                        </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-menu-columns">
                                            <div class="dropdown-menu-column">
                                                <a class="dropdown-item" asp-controller="MasterForm" asp-action="Index">
                                                    Master Form
                                                </a>
                                                <a class="dropdown-item" asp-controller="MasterCompany" asp-action="Index">
                                                    Company&Vendor Master
                                                </a>
                                                <a class="dropdown-item" asp-controller="MasterProject" asp-action="Index">
                                                    Project Master
                                                </a>
                                                <a class="dropdown-item" asp-controller="MasterUnit" asp-action="Index">
                                                    Unit Master
                                                </a>
                                                <a class="dropdown-item" asp-controller="MasterUser" asp-action="Index">
                                                    User Master
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="login" asp-action="Index">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user-share">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h3" />
                                            <path d="M16 22l5 -5" />
                                            <path d="M21 21.5v-4.5h-4.5" />
                                        </svg>
                                        <span class="nav-link-title">
                                            Log out
                                        </span>
                                    </a>
                                </li>
                              }
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-wrapper">

            <!-- Loading Animation -->
            <div id="loading">
                <img src="https://i.gifer.com/ZZ5H.gif" alt="Loading...">
            </div>
            <!-- Page body -->
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <!-- Modal Inbox -->
                <div id="chatModal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content col-md-4">
                            <div class="modal-header">
                                <span class="close" onclick="closeModalChat()">&times;</span>
                                <h4 id="chatHeader">Chat with Support</h4> <!-- Updated to add an ID -->
                            </div>
                            <div class="modal-body" id="chatMessages">
                                <!-- Chat messages will be appended here dynamically -->
                            </div>
                            <div class="modal-footer">
                                <textarea id="chatInput" placeholder="พิมพ์ข้อความ..."></textarea>
                                <button class="sendButton" onclick="sendMessage()">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                            </div>
                            <!-- Hidden inputs for storing data -->
                            <input type="hidden" id="hdUnitFormID" name="hdUnitFormID" />
                            <input type="hidden" id="hdFormID" name="hdFormID" />
                            <input type="hidden" id="hdRoleID" name="hdRoleID" />
                        </div>
                    </div>
                </div>
                <!-- Modal Inbox -->

            </div>

            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    © สงวนลิขสิทธิ์ พ.ศ. 2567 บริษัท แอสเซทไวส์ จำกัด (มหาชน) All rights reserved.
                                </li>
                                <li class="list-inline-item">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Libs JS -->
    <script src="~/lib/core-ui/dist/libs/nouislider/dist/nouislider.min.js?1692870487" defer></script>

    <script> 

        function openModalChat(UnitFormID, FormID, FormName , Unitcode) {
            // Store the UnitFormID, FormID, and RoleID in hidden inputs
            document.getElementById("hdUnitFormID").value = UnitFormID;
            document.getElementById("hdFormID").value = FormID;
            document.getElementById("hdRoleID").value = userRole;

             // Set the dynamic header text using UnitCode and FormName
            var chatHeader = document.querySelector("#chatModal .modal-header h4");
            chatHeader.textContent = Unitcode + ": " + FormName; // Update header text

            // Show the modal
            document.getElementById("chatModal").style.display = "block";

            // Fetch the chat messages when the modal is opened
            fetchChatMessages(UnitFormID, FormID, userRole);
        }

        function closeModalChat() {
            document.getElementById("chatModal").style.display = "none"; // Hide the modal
        }

        function fetchChatMessages(UnitFormID, FormID, RoleID) {
            // Make an AJAX request to fetch chat messages
            $.ajax({
                url: baseUrl + 'ChatInBox/Getchatlist', // Ensure this matches your route and action name
                type: 'POST',
                data: { UnitFormID: UnitFormID, FormID: FormID, RoleID: RoleID },
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                        if (data.success) {
                            var chatMessages = document.getElementById("chatMessages");
                            chatMessages.innerHTML = ''; // Clear existing messages

                            // Append each message to the chat box
                            data.data.forEach(function (message) {
                                var newMessage = document.createElement("p");
                                    newMessage.innerHTML = `<strong>${message.UserName}(${message.RoleName}):</strong> ${message.TextInbox} <small>${message.Actiondate}</small>`;
                                chatMessages.appendChild(newMessage);
                            });

                            chatMessages.scrollTop = chatMessages.scrollHeight; 
                        } else {
                            alert("Error: " + response.message);
                        }
                },
                error: function (xhr, status, error) {
                    console.error("Failed to fetch chat messages:", xhr.responseText);
                }
            });
        }


        function sendMessage() {
            
            var message = document.getElementById("chatInput").value;
            var UnitFormID = document.getElementById("hdUnitFormID").value;
            var FormID = document.getElementById("hdFormID").value;
            var RoleID = document.getElementById("hdRoleID").value;
            var UserID = id;

            if (message.trim() !== "") {
                // Make an AJAX request to save the new message
                $.ajax({
                    url: baseUrl + 'ChatInBox/InsertChatInbox',
                    type: 'POST',
                    data: {FormID: FormID , RoleID: RoleID , TextInbox: message , UnitFormID : UnitFormID, UserID: UserID },
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            // Fetch updated chat messages after sending the new message
                            fetchChatMessages(UnitFormID, FormID, RoleID);
                            document.getElementById("chatInput").value = ""; // Clear the input field
                        } else {
                            alert("Error: " + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Failed to send message:", error);
                    }
                });
            }
        }

    </script>

    <!-- Tabler Core -->
    <script src="~/lib/core-ui/dist/js/tabler.min.js?1692870487" defer></script>
    <script src="~/lib/core-ui/dist/js/demo.min.js?1692870487" defer></script>
    <script src="~/lib/core-ui/dist/libs/litepicker/dist/litepicker.js?1692870487" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
    <script>document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-icon-prepend'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
                },
            }));
        });</script>
</body>
</html>


