@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";

    ViewData["Title"] = "Create User";
}

@model Project.ConstructionTracking.Web.Models.MUserModel.UnitRespModel

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row">
            <div class="col-3">
                <a href="javascript:history.back()" class="btn btn-secondary mb-3">
                    <i class="fas fa-chevron-left"></i> <span>Go Back</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2>Create User</h2>
    <hr />
    <div class="row mb-3">
        <div class="col-lg-6">
            <label for="user-name" class="form-label">ชื่อ</label>
            <input type="text" class="form-control" id="user-name">
            <span id="user-name-error" class="text-danger"></span>
        </div>
        <div class="col-lg-6">
            <label for="user-last-name" class="form-label">นามสกุล</label>
            <input type="text" class="form-control" id="user-last-name">
            <span id="user-last-name-error" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-6">
            <label for="user-email" class="form-label">อีเมลล์</label>
            <input type="email" class="form-control" id="user-email">
            <span id="user-email-error" class="text-danger"></span>
        </div>
        <div class="col-lg-6">
            <label for="user-mobile" class="form-label">หมายเลขโทรศัพท์</label>
            <input type="tel" class="form-control" id="user-mobile">
            <span id="user-mobile-error" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="row mb-3">
        <div class="col-lg-6">
            <label for="user-bu-id" class="form-label">BU</label>
            <select class="form-control" id="user-bu-id">
                <option value="0">กรุณาเลือก BU</option>
                @foreach (var b in Model.BUList)
                {
                    <option value="@b.ID">@b.Name</option>
                }
            </select>
            <span id="user-bu-id-error" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-6">
            <label for="user-position" class="form-label">ตำแหน่ง</label>
            <input type="text" class="form-control" id="user-position">
            <span id="user-position-error" class="text-danger"></span>
        </div>
        <div class="col-lg-6">
            <label for="user-role" class="form-label">Role</label>
            <select class="form-control" id="user-role">
                <option value="0">กรุณาเลือก Role</option>
                @foreach (var r in Model.RoleList)
                {
                    <option value="@r.ID">@r.Name</option>
                }
            </select>
            <span id="user-role-error" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="row mb-3">
        <div class="col-lg-6">
            <label for="user-password" class="form-label">รหัสผ่าน</label>
            <input type="password" class="form-control" id="user-password">
            <span id="user-password-error" class="text-danger"></span>
        </div>
        <div class="col-lg-6">
            <label for="user-password-confirm" class="form-label">ยืนยันรหัสผ่าน</label>
            <input type="password" class="form-control" id="user-password-confirm">
            <span id="user-password-confirm-error" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="row mb-3">
        <div class="col-lg-6">
            <label for="project-list" class="form-label">เลือกสิทธิ์โครงการ</label>
            <div id="project-list">
            </div>
        </div>
    </div>
    <hr />
    <div class="d-flex justify-content-end">
        <button id="create-user-save" class="btn btn-success">
            บันทึก
        </button>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/js/pages/usercreate.js?version=@DateTime.Now.Ticks.ToString()"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Manually convert PositionList to a JSON array
            var positionNames = [
                @foreach(var position in Model.PositionList)
                {
                    @: "@position.Name",
                }
            ];

            // Apply autocomplete to the input field
            $("#user-position").autocomplete({
                source: positionNames
            });


            $('#user-bu-id').change(function() {
                var buId = $(this).val();
                var buProjectData = @Html.Raw(Json.Serialize(Model.BUList));
                // Clear the existing projects section
                $('#project-list').empty();

                if (buId !== '0') {
                    // Find the BU by its ID in the buProjectData object
                    var selectedBU = buProjectData.find(function(bu) {
                        return bu.ID == buId;
                    });

                    if (selectedBU && selectedBU.ProjectByBu && selectedBU.ProjectByBu.length > 0) {
                        var projectHtml = '';
                        $.each(selectedBU.ProjectByBu, function(index, project) {
                            projectHtml += '<div style="display: flex; align-items: center;">';
                            projectHtml += '<input type="checkbox" id="checklist-' + project.ProjectID + '" class="checklist-item large-checkbox" data-id="' + project.ProjectID + '" ' + (project.IsChecked ? 'checked' : '') + ' style="width: 20px; height: 20px; margin-right: 10px;" />';
                            projectHtml += '<label for="checklist-' + project.ProjectID + '" style="font-size: 1.2em;">' + project.ProjectName + '</label>';
                            projectHtml += '</div>';
                        });
                        $('#project-list').html(projectHtml);
                    } else {
                        $('#project-list').html('<p>No projects available for this BU.</p>');
                    }
                }
            });

            userCreate.init();
        });
    </script>
}
