@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<style>

    .fixed-size-btn {
        width: 80px;
        height: 30px;
    }

    .card {
        border: none;
        border-radius: 10px;
    }

    .status-dot {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        border: none;
        outline: none;
        position: relative; /* Enables absolute positioning of the badge */
        background-color: green; /* Add background color if needed */
    }

    .status-dot .badge {
        position: absolute;
        top: -5px; /* Adjust to position the badge higher */
        right: -5px; /* Adjust to position the badge to the right */
        background-color: red; /* Background color of the badge */
        color: white; /* Text color inside the badge */
        border-radius: 50%; /* Makes the badge circular */
        width: 18px; /* Adjust width of the badge */
        height: 18px; /* Adjust height of the badge */
        font-size: 12px; /* Font size for the text/number */
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }


    .status-text {
        font-size: 1em;
    }

    .text-yellow {
        color: yellow;
    }

    .custom-heading {
        line-height: 1.2;
    }

</style>
@model Project.ConstructionTracking.Web.Models.QCModel.QcSummaryResp

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        <button class="status-dot bg-transparent" onclick="javascript:history.back();">
                            <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                        </button>
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h3 class="mb-0 header-text">Unit : @Model.UnitCode</h3>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">
                                @Model.ProjectName (สถานะ : @Model.UnitStatusDesc)
                            </h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                        <form asp-controller="FormGroup" asp-action="index">
                            <button class="status-dot bg-transparent">
                                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #f7f7f7;"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                @foreach (var listQc in Model.QcSummaryLists)
                {
                    <div class="col-12 col-sm-6">
                        <div class="card card-link card-link-pop">
                            <div class="row justify-content-center">
                                <div class="card-body">
                                    <div class="col-12 d-flex flex-row align-items-center">
                                        <div class="row">
                                            <div class="col-3">
                                                @if (listQc.QcTypeID == SystemConstant.QcTypeID.QC5)
                                                {
                                                    <button type="button"
                                                            class="btn btn-success fixed-size-btn mb-2"
                                                            onclick="checkQC5MaxSeqStatus('@Model.ProjectID', '@Model.UnitID')">
                                                        @listQc.QcTypeName
                                                    </button>
                            
                                                }
                                                else
                                                {
                                                    <button data-action="Verify"
                                                            data-qc-checklist-id="@listQc.QcCheckListID"
                                                            data-qc-type-id="@listQc.QcTypeID"
                                                            data-form-id="@listQc.FormID"
                                                            data-form-qc-checklist-id="@listQc.FormQcCheckList"
                                                            class="btn btn-success fixed-size-btn mb-2">
                                                        @listQc.QcTypeName
                                                    </button>

                                                }
                                            </div>
                                            @for (int i = 0; i < 5; i++)
                                            {
                                                if (i < listQc.QcInspections.Count)
                                                {
                                                    var data = listQc.QcInspections[i];
                                                    if (data != null)
                                                    {
                                                        <div class="col">
                                                            @if (listQc.QcTypeID == SystemConstant.QcTypeID.QC5)
                                                            {
                                                                <form asp-controller="QC5Check" asp-action="index">
                                                                    <input type="hidden" name="ProjectID" value="@Model.ProjectID" />
                                                                    <input type="hidden" name="UnitID" value="@Model.UnitID" />
                                                                    <input type="hidden" name="Seq" value="@data.Seq" />
                                                                    <button class="status-dot bg-@(data.QcStatusID == SystemConstant.QcSummaryStatus.FINISH  ? "green"
                                                                                                 : data.QcStatusID == SystemConstant.QcSummaryStatus.PASSWITHCONDITION  ? "green"
                                                                                                 : data.QcStatusID == SystemConstant.QcSummaryStatus.SUSPEND ? "danger" : "yellow") mx-1 mb-2">
                                                                        @if (data.QcStatusID == SystemConstant.QcSummaryStatus.PASSWITHCONDITION)
                                                                        {
                                                                            <span class="badge">?</span>
                                                                        }
                                                                    </button>

                                                                </form>
                                                            }
                                                            else
                                                            {
                                                                <button data-action="Status"
                                                                        data-project-id="@Model.ProjectID"
                                                                        data-unit-id="@Model.UnitID"
                                                                        data-qc-checklist-id="@listQc.QcCheckListID"
                                                                        data-qc-type-id="@listQc.QcTypeID"
                                                                        data-form-id="@listQc.FormID"
                                                                        data-qc-unit-checklist-id="@data.QcUnitCheckListID"
                                                                        data-seq="@data.Seq"
                                                                        class="status-dot bg-@(data.QcStatusID == SystemConstant.QcSummaryStatus.FINISH ? "green" 
                                                                                             : data.QcStatusID == SystemConstant.QcSummaryStatus.PASSWITHCONDITION  ? "green"
                                                                                             : data.QcStatusID == SystemConstant.QcSummaryStatus.SUSPEND ? "danger" : "yellow") mx-1 mb-2">
                                                                </button>

                                                            }
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col">
                                                        <button class="status-dot bg-secondary mx-1 mb-2" disabled></button>
                                                    </div>
                                                }
                                            }
                                            <div class="col">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
    <script src="~/lib/core-ui/dist/libs/fslightbox/index.js?1692870487" defer></script>
    <script src="~/js/pages/summaryqc.js?version=@DateTime.Now.Ticks.ToString()"></script>
    <script>
        let projectId = '@Model.ProjectID';
        let unitId = '@Model.UnitID';
        $(document).ready(() => {
            summaryqc.init();
        });
    </script>

}