@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<style>

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

    .fixed-size-btn {
/*        width: 80px;*/
        height: 30px;
    }
</style>


<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <h1>
                    รายการรออนุมัติ
                </h1>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ms-2 c-details p-2">
                                    <h3 class="mb-0 text-primary">
                                        A-01<small class="text-yellow"> โครงการเอสต้า รังสิต</small>
                                    </h3>
                                </div>
                                
                            </div>
                            <form action="@Url.Action("index","PMApprove")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: #C0C0C0; color: white;">
                                    รออนุมัติ
                                </button>
                            </form>
                            <form action="@Url.Action("index","PMApprove")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: blue; color: white;">
                                    <i class="fa-solid fa-lock"></i>
                                </button>
                            </form>
                        </div>
                        <div class="mt-1">
                            <div class="row">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-secondary">งวดที่ 2</button>
                                </div>
                                <div class="col-8">
                                    <h3 class="heading"> สร้างโดย 21 Century </h3>
                                    <h5>วันที่ submit 1/6/2567</h5>                                                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ms-2 c-details p-2">
                                    <h3 class="mb-0 text-primary">
                                        A-05<small class="text-yellow"> โครงการเอสต้า รังสิต</small>
                                    </h3>
                                </div>

                            </div>
                            <form action="@Url.Action("index","PMApprove")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: #C0C0C0; color: white;">
                                    รออนุมัติ
                                </button>
                            </form>
@*                            <form action="@Url.Action("index","FormGroup")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: blue; color: white;">
                                    <i class="fa-solid fa-lock"></i>
                                </button>
                            </form>*@
                        </div>
                        <div class="mt-1">
                            <div class="row">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-secondary">งวดที่ 7</button>
                                </div>
                                <div class="col-8">
                                    <h3 class="heading"> สร้างโดย 21 Century </h3>
                                    <h5>วันที่ submit 24/9/2567</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ms-2 c-details p-2">
                                    <h3 class="mb-0 text-primary">
                                        A-08<small class="text-yellow"> โครงการอาร์เบอร์ RW </small>
                                    </h3>
                                </div>

                            </div>
                            <form action="@Url.Action("index","PMApprove")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: red; color: white;">
                                    ไม่ผ่าน <i class="fa-solid fa-bolt"></i>
                                </button>
                            </form>
@*                            <form action="@Url.Action("index","FormGroup")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: blue; color: white;">
                                    <i class="fa-solid fa-lock"></i>
                                </button>
                            </form>*@
                        </div>
                        <div class="mt-1">
                            <div class="row">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-secondary">งวดที่ 5</button>
                                </div>
                                <div class="col-8">
                                    <h3 class="heading">
                                        สร้างโดย อมรรัตน์ คอน
                                    </h3>
                                    <h5>วันที่ submit 17/5/2567</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ms-2 c-details p-2">
                                    <h3 class="mb-0 text-primary">
                                        A-11<small class="text-yellow">โครงการอาร์เบอร์ RW</small>
                                    </h3>
                                </div>

                            </div>
                            <form action="@Url.Action("index","PMApprove")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: red; color: white;">
                                    ไม่ผ่าน
                                </button>
                            </form>
@*                            <form action="@Url.Action("index","FormGroup")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: blue; color: white;">
                                    <i class="fa-solid fa-lock"></i>
                                </button>
                            </form>*@
                        </div>
                        <div class="mt-1">
                            <div class="row">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-secondary">งวดที่ 5</button>
                                </div>
                                <div class="col-8">
                                    <h3 class="heading">
                                        สร้างโดย อมรรัตน์ คอน
                                    </h3>
                                    <h5>วันที่ submit 12/6/2567</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ms-2 c-details p-2">
                                    <h3 class="mb-0 text-primary">
                                        A-09<small class="text-yellow"> โครงการเอสต้า รังสิต</small>
                                    </h3>
                                </div>

                            </div>
                            <form action="@Url.Action("index","PMApprove")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: green; color: white;">
                                    ผ่าน
                                </button>
                            </form>
                            <form action="@Url.Action("index","FormGroup")" method="post">
                                <button class="btn fixed-size-btn" style="background-color: green; color: white;">
                                    <i class="fa-solid fa-lock-open"></i>
                                </button>
                            </form>
                        </div>
                        <div class="mt-1">
                            <div class="row">
                                <div class="col-4">
                                    <button type="button" class="btn btn-outline-secondary">งวดที่ 12</button>
                                </div>
                                <div class="col-8">
                                    <h3 class="heading"> สร้างโดย 21 Century </h3>
                                    <h5>วันที่ submit 1/12/2567</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
<script src="~/lib/core-ui/dist/js/tabler.min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/demo.min.js?1692870487" defer></script>
<script src="~/lib/core-ui/dist/js/demo-theme.min.js?1692870487"></script>