@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var projectId = ViewBag.ProjectId;
    var projectName = ViewBag.ProjectName;
    var FormID = ViewBag.FormID;
    var UnitFormName = ViewBag.UnitFormName;
    var unitId = ViewBag.unitId;
    var UnitFormID = ViewBag.UnitFormID;
    var UnitFormActionID = ViewBag.UnitFormActionID;
    var UnitCode = ViewBag.UnitCode;
    var UnitStatusName = ViewBag.UnitStatusName;
    var GroupName = ViewBag.GroupName;
    var GroupID = ViewBag.GroupID;
    var LockStatusID = ViewBag.LockStatusID;
    var RemarkPassCondition = ViewBag.RemarkPassCondition;
    var StatusActionType = ViewBag.StatusActionType;
    var PM_StatusID = ViewBag.PM_StatusID;
    var PM_ActionType = ViewBag.PM_ActionType;
    var StatusUpdateDate = ViewBag.StatusUpdateDate;
    var UserName = ViewBag.UserName;
    var UserRole = ViewBag.UserRole;
}


@model Project.ConstructionTracking.Web.Models.FormChecklistViewModel

<style>
    .status-dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        outline: none;
        font-size: 18px;
    }

    .align-center {
        display: flex;
        align-items: center;
    }

        .align-center .material-icons {
            margin-right: 8px;
        }

    .card {
        border: none;
        border-radius: 10px
    }

    .drop-zone {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 6px;
        text-align: center;
        cursor: pointer;
    }

    .drop-zone-text {
        margin-bottom: 10px;
    }

    .drop-zone-input {
        display: none;
    }

/*     .preview-container {
        margin-top: 10px;
    }

    .preview-image {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
    }

        .preview-image img {
            max-width: 100%;
            max-height: 100%;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: block;
        }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    } */

    .preview-container {
        margin-top: 10px;
    }

    .preview-image {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
    }

        .preview-image img {
            max-width: 100%;
            max-height: 100%;
            border: 1px solid #ddd;
            border-radius: 5px;
            display: block;
        }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 18px;
        text-align: center;
        padding: 0;
    }

</style>
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        <form asp-controller="FormGroup" asp-action="Index" method="post">
                            <input type="hidden" name="projectId" value="@projectId" id="hd_projectId" />
                            <input type="hidden" name="projectName" value="@projectName" />
                            <input type="hidden" name="FormID" value="@FormID" id="hd_FormID" />
                            <input type="hidden" name="UnitFormID" value="@UnitFormID" />
                            <input type="hidden" name="UnitFormName" value="@UnitFormName" />
                            <input type="hidden" name="unitId" value="@unitId" id="hd_unitId" />
                            <input type="hidden" name="UnitCode" value="@UnitCode" />
                            <input type="hidden" name="UnitStatusName" value="@UnitStatusName" />
                            <button class="status-dot bg-transparent">
                                <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                            </button>
                        </form>
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h3 class="mb-0 header-text"> @GroupName</h3>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@UnitFormName  (Unit : @UnitCode )</h5>
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@projectName (สถานะ : @UnitStatusName)</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <form id="formChecklistForm" method="post" enctype="multipart/form-data">
            @{
                var packageIndex = 0;
            }
            @foreach (var item in Model.ListPackages)
            {
                <div>
                    <div class="container-xl mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <div style="background-color: palegoldenrod; font-size: 20px;">
                                    <i class="fa fa-check-square" aria-hidden="true"></i> @item.PackagesName
                                </div>
                            </li>
                            <input type="hidden" id="UnitPackagesID" name="Packages[@packageIndex].UnitPackagesID" value="@item.UnitPackagesID">
                            <input type="hidden" id="PackagesID" name="Packages[@packageIndex].PackagesID" value="@item.PackagesID">
                            <input type="hidden" id="UnitFormID" name="Packages[@packageIndex].UnitFormID" value="@UnitFormID">
                            <input type="hidden" id="UnitFormActionID" name="Packages[@packageIndex].UnitFormActionID" value="@UnitFormActionID">
                            <input type="hidden" name="Packages[@packageIndex].unitId" value="@unitId" id="hd_unitId_IUD" />
                            <input type="hidden" name="Packages[@packageIndex].projectId" value="@projectId" id="hd_projectId_IUD" />
                            <input type="hidden" name="Packages[@packageIndex].UserName" value="@UserName" id="UserName" />
                            <input type="hidden" name="Packages[@packageIndex].UserRole" value="@UserRole" id="UserRole" />
                        </ol>
                        <br>
                        <div class="row">
                            @{
                                var checklistIndex = 0;
                            }
                            @foreach (var item1 in item.ListCheckLists)
                            {
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="card card-link card-link-pop p-3 mb-2">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h3>@item1.CheckListName</h3>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            @foreach (var item2 in item1.ListRadioCheck)
                                                            {
                                                                <div class="col-4">
                                                                    <label class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" data-action="chk-check-list" name="Packages[@packageIndex].CheckLists[@checklistIndex].radios-inline-@item1.CheckListID" form-id="@ViewBag.FormID" group-id="@item.GroupID" package-id="@item.PackagesID" check-list-id="@item1.CheckListID" Unit-check-list-id="@item1.UnitCheckListID" value="@item2.RadioCheck_ID" onclick="toggleRadio(this)" @(item1.StatusCheck == item2.RadioCheck_ID ? "checked" : "")>
                                                                        <span class="form-check-label">@item2.RadioCheck_Name</span>
                                                                    </label>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                checklistIndex++;
                            }
                            <div class="col-md-12">
                                <label class="form-label">ความคิดเห็น</label>
                                <textarea rows="1" class="form-control" id="input-remark-@item.PackagesID" name="Packages[@packageIndex].Remark" placeholder="ความคิดเห็น">@item.Remark</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                packageIndex++;
            }
            <div class="container-xl mb-3">
                <div class="card col-12 col-sm-6">
                    <div class="card-header">
                        <div class="ribbon ribbon-top bg-yellow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                <path d="M13.5 6.5l4 4" />
                            </svg>
                        </div>
                        <h3 class="card-title align-center">
                            <button type="button" 
                                    class="status-dot bg-secondary" 
                                    @*onclick="openModal()" *@
                                    >
                                <i class="fa-solid fa-user"></i>
                            </button>
                            <div class="ms-2 c-details">
                                <h3 class="mb-0">
                                    บันทึกผู้ตรวจ
                                </h3>
                            </div>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <!-- Profile Image -->
                                @if (Model.ListStatus != null && Model.ListStatus.Count > 0)
                                {
                                    var imageList = Model.ListStatus.FirstOrDefault()?.Form_getListImagePasswithCondition;

                                    if (imageList != null && imageList.Count > 0)
                                    {
                                        foreach (var image in imageList)
                                        {
                                            <div class="position-relative d-inline-block mb-3">
                                                <a data-fslightbox="gallery" href="~/@image.FilePath">
                                                    <img src="~/@image.FilePath" alt="Profile Image" class="img-thumbnail" style="width: 90px; height: 90px; border-radius: 50%; object-fit: cover;">
                                                </a>
                                                @if (ViewBag.StatusActionType != "submit")
                                                {
                                                    <button type="button" class="remove-button" onclick="deleteImage('@image.ResourceID')">✖</button>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>ไม่มีรูปภาพ</p>
                                    }
                                }
                                else
                                {
                                    <p>ไม่มีรูปภาพ</p>
                                }
                            </div>
                            <div class="col-12 mb-2">
                                <div id="drop-zone" class="drop-zone">
                                    <p class="drop-zone-text">
                                        <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                    </p>
                                    <input type="file" id="file-input" class="drop-zone-input" name="PcCheck.Images" multiple>
                                </div>
                                <div id="preview-container" class="row preview-container"></div>
                            </div>
                            <div class="col-12">
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="PcCheck.IsChecked" id="pc-radio" value="true" onclick="checkPC(this)" @(LockStatusID!= null ? "checked" : "")>
                                    <span class="form-check-label">ผ่านแบบมีเงื่อนไข (PC)</span>
                                </label>
                            </div>
                            <div class="col-12">
                                <textarea id="Remark-PC" rows="1" class="form-control" name="PcCheck.Remark" placeholder="ระบุเหตุผลเพื่อขออนุมัติการผ่านแบบมีเงื่อนไข">@RemarkPassCondition</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label"> แก้ไขล่าสุด @ViewBag.StatusUpdateDate</label>
                            </div>
                            <div class="col-6">
                                @if (ViewBag.StatusActionType == "submit")
                                {
                                    if (PM_StatusID == null || PM_ActionType == "save" || PM_ActionType == null)
                                    {
                                        <label class="form-label">รอคำอนุมัติจาก PM</label>
                                    }
                                    else if (PM_StatusID == 4 && PM_ActionType == "submit")
                                    {
                                    }
                                    else if (PM_StatusID == 5 && PM_ActionType == "submit")
                                    {
                                        <div class="btn-list justify-content-end">
                                            <button type="button" class="btn btn-primary" id="saveButton">
                                                บันทึก
                                            </button>
                                        </div>
                                    }
                                    else if (PM_StatusID == 6)
                                    {

                                    }
                                }
                                else
                                {
                                    <div class="btn-list justify-content-end">
                                        <button type="button" class="btn btn-primary" id="saveButton">
                                            บันทึก
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">รูปภาพ</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row g-2 g-md-3">
                                @if (Model.ListStatus != null && Model.ListStatus.Count > 0)
                                {
                                    var imageList = Model.ListStatus.FirstOrDefault()?.Form_getListImagePasswithCondition;

                                    if (imageList != null && imageList.Count > 0)
                                    {
                                        foreach (var image in imageList)
                                        {
                                            <div class="col-6 position-relative">
                                                <a data-fslightbox="gallery" href="~/@image.FilePath">
                                                    <img src="~/@image.FilePath" alt="..." class="img-thumbnail">
                                                </a>
                                                <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" onclick="deleteImage('@image.ResourceID')">
                                                    ลบรูปภาพ
                                                </button>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>ไม่มีรูปภาพ</p>
                                    }
                                }
                                else
                                {
                                    <p>ไม่มีรูปภาพ</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<link href="~/lib/core-ui/dist/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
@section scripts{
    <script src="~/js/pages/FormCheckList.js?ver=@DateTime.Now.Ticks.ToString()"></script>
}
