@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var projectId = ViewBag.ProjectId;
    var projectName = ViewBag.ProjectName;
    var FormID = ViewBag.FormID;
    var UnitFormName = ViewBag.UnitFormName;
    var unitId = ViewBag.unitId;
    var GobackTo = ViewBag.GobackTo;
    var UnitFormID = ViewBag.UnitFormID;
    var UnitFormActionID = ViewBag.UnitFormActionID;
    var UnitCode = ViewBag.UnitCode;
    var UnitStatusName = ViewBag.UnitStatusName;
    var UnitFormStatusID = ViewBag.UnitFormStatusID;
    var GroupName = ViewBag.GroupName;
    var GroupID = ViewBag.GroupID;
    var LockStatusID = ViewBag.LockStatusID;
    var RemarkPassCondition = ViewBag.RemarkPassCondition;
    var StatusActionType = ViewBag.StatusActionType;
    var PM_StatusID = ViewBag.PM_StatusID;
    var PM_ActionType = ViewBag.PM_ActionType;
    var PJM_StatusID = ViewBag.PJM_StatusID;
    var PJM_ActionType = ViewBag.PJM_ActionType;
    var StatusUpdateDate = ViewBag.StatusUpdateDate;
    var StatusUpdateBy = ViewBag.StatusUpdateBy;
    var PCStatusID = ViewBag.PCStatusID;
    var UserName = ViewBag.UserName;
    var UserRole = ViewBag.UserRole;
}


@model Project.ConstructionTracking.Web.Models.FormChecklistViewModel

<style>
    .status-dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        outline: none;
        font-size: 18px;
    }

    .align-center {
        display: flex;
        align-items: center;
    }

    .align-center .material-icons {
        margin-right: 8px;
    }

    .card {
        border: none;
        border-radius: 10px
    }

    .drop-zone {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 6px;
        text-align: center;
        cursor: pointer;
    }

    .drop-zone-text {
        margin-bottom: 10px;
    }

    .drop-zone-input {
        display: none;
    }

    .preview-container {
        margin-top: 10px;
    }

    .preview-image {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
    }

    .preview-image img {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: block;
    }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 18px;
        text-align: center;
        padding: 0;
    }

    .BackButton {
        width: 50px; /* Set a fixed width */
        height: 50px; /* Set a fixed height */
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: none;
        display: flex; /* Align the icon */
        align-items: center;
        justify-content: center;
        padding: 0; /* Remove padding for a perfect circle */
        cursor: pointer; /* Add cursor pointer for better UX */
    }

    .form-control[readonly] {
        background-color: #e9ecef; /* Light background for readonly input */
        cursor: not-allowed; /* Change cursor to indicate non-editable field */
    }

</style>

<div class="page-wrapper">
    <button class="fixedButton" onclick="openModalChat('@UnitFormID','@FormID','@UnitFormName','@UnitCode')">
        <i id="chatIcon" class="fa-solid fa-message fa-xl"></i>
    </button>
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" name="UnitFormID" id="UnitFormID" value="@UnitFormID" />
                <input type="hidden" name="projectId" id="projectId" value="@projectId" />
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        @if (GobackTo == "Forgroup")
                        {
                            <form asp-controller="FormGroup" asp-action="Index" method="post">
                                <input type="hidden" name="projectId" value="@projectId" id="hd_projectId" />
                                <input type="hidden" name="projectName" value="@projectName" />
                                <input type="hidden" name="FormID" value="@FormID" id="hd_FormID" />
                                <input type="hidden" name="UnitFormID" value="@UnitFormID" />
                                <input type="hidden" name="UnitFormName" value="@UnitFormName" />
                                <input type="hidden" name="unitId" value="@unitId" id="hd_unitId" />
                                <input type="hidden" name="UnitCode" value="@UnitCode" />
                                <input type="hidden" name="UnitStatusName" value="@UnitStatusName" />
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                        else if (GobackTo == "PMApprove")
                        {
                            <form asp-controller="PMApprove" asp-action="Index" method="post">
                                <input type="hidden" name="unitId" value="@unitId" id="unitId" />
                                <input type="hidden" name="formId" value="@FormID" id="formId" />
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                        else if (GobackTo == "PJMApprove")
                        {
                            <form asp-controller="PJMApprove" asp-action="Index" method="post">
                                <input type="hidden" name="UnitFormID" value="@UnitFormID" id="UnitFormID" />
                                <button class="status-dot bg-transparent">
                                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                                </button>
                            </form>
                        }
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h3 class="mb-0 header-text"> ตรวจงาน : @GroupName </h3>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@UnitFormName ( Unit : @UnitCode )</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <form id="formChecklistForm" method="post" enctype="multipart/form-data">
            @{
                var packageIndex = 0;
            }
            @foreach (var item in Model.ListPackages)
            {
                <div>
                    <div class="container-xl mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <div style="background-color: palegoldenrod; font-size: 20px;">
                                    <i class="fa-solid fa-list-check"></i> @item.PackagesName
                                </div>
                            </li>
                            <input type="hidden" id="UnitPackagesID" name="Packages[@packageIndex].UnitPackagesID" value="@item.UnitPackagesID">
                            <input type="hidden" id="PackagesID" name="Packages[@packageIndex].PackagesID" value="@item.PackagesID">
                            <input type="hidden" id="UnitFormID" name="Packages[@packageIndex].UnitFormID" value="@UnitFormID">
                            <input type="hidden" id="UnitFormActionID" name="Packages[@packageIndex].UnitFormActionID" value="@UnitFormActionID">
                            <input type="hidden" name="Packages[@packageIndex].unitId" value="@unitId" id="hd_unitId_IUD" />
                            <input type="hidden" name="Packages[@packageIndex].projectId" value="@projectId" id="hd_projectId_IUD" />
                            <input type="hidden" name="Packages[@packageIndex].UserName" value="@UserName" id="UserName" />
                            <input type="hidden" name="Packages[@packageIndex].UserRole" value="@UserRole" id="UserRole" />
                        </ol>
                        <br>
                        <div class="row">
                            @{
                                var checklistIndex = 0;
                            }
                            @foreach (var item1 in item.ListCheckLists)
                            {
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="card card-link card-link-pop p-3 mb-2">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h3>@item1.CheckListName</h3>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="row">
                                                            @foreach (var item2 in item1.ListRadioCheck)
                                                            {
                                                                <div class="col-4">
                                                                    <label class="form-check form-check-inline">
                                                                        <input class="form-check-input" 
                                                                               type="radio" 
                                                                               data-action="chk-check-list" 
                                                                               name="Packages[@packageIndex].CheckLists[@checklistIndex].radios-inline-@item1.CheckListID" 
                                                                               form-id="@ViewBag.FormID" 
                                                                               group-id="@item.GroupID" 
                                                                               package-id="@item.PackagesID" 
                                                                               check-list-id="@item1.CheckListID" 
                                                                               Unit-check-list-id="@item1.UnitCheckListID" 
                                                                               value="@item2.RadioCheck_ID" 
                                                                               onclick="toggleRadio(this)" @(item1.StatusCheck == item2.RadioCheck_ID ? "checked" : "")
                                                                        >
                                                                        <span class="form-check-label">@item2.RadioCheck_Name</span>
                                                                    </label>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                checklistIndex++;
                            }
                            <div class="col-md-12">
                                <label class="form-label">ความคิดเห็น @item.PackagesName</label>
                                <textarea class="form-control"
                                          id="input-remark-@item.PackagesID"
                                          name="Packages[@packageIndex].Remark"
                                          placeholder="ความคิดเห็น"
                                          data-package-id="@item.PackagesID">@item.Remark</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                packageIndex++;
            }
            <div class="container-xl mb-3">
                <div class="card col-12 col-sm-6">
                    <div class="card-header">
                        <div class="ribbon ribbon-top bg-yellow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                <path d="M13.5 6.5l4 4" />
                            </svg>
                        </div>
                        <h3 class="card-title align-center">
                            <button type="button"
                                    class="status-dot bg-secondary">
                                <i class="fa-solid fa-user"></i>
                            </button>
                            <div class="ms-2 c-details">
                                <h3 class="mb-0">
                                    บันทึกการตรวจ
                                </h3>
                            </div>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <!-- Profile Image -->
                                @if (Model.ListStatus != null && Model.ListStatus.Count > 0)
                                {
                                    var imageList = Model.ListStatus.FirstOrDefault()?.Form_getListImagePasswithCondition;
                                    <input type="hidden" name="hd_imageListcnt" value="@imageList.Count" ID="hd_imageListcnt" />

                                    if (imageList != null && imageList.Count > 0)
                                    {
                                        foreach (var image in imageList)
                                        {
                                            <div class="position-relative d-inline-block mb-3">
                                                <a data-fslightbox="gallery" href="~/@image.FilePath">
                                                    <img src="~/@image.FilePath" alt="Profile Image" class="img-thumbnail" style="width: 90px; height: 90px; border-radius: 50%; object-fit: cover;">
                                                </a>
                                                @if (ViewBag.UserRole == "1")
                                                {
                                                    @if (ViewBag.StatusActionType == "submit")
                                                    {
                                                        if (UnitFormStatusID == 5 && PM_ActionType == "submit")
                                                        {
                                                            <button type="button" class="remove-button" onclick="deleteImage('@image.ResourceID')">✖</button>
                                                        }
                                                        else if (UnitFormStatusID == 8 && PCStatusID != 8 && PJM_ActionType == "submit")
                                                        {
                                                            <button type="button" class="remove-button" onclick="deleteImage('@image.ResourceID')">✖</button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <button type="button" class="remove-button" onclick="deleteImage('@image.ResourceID')">✖</button>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>กรุณาอัปโหลดไฟล์รูปภาพ</p>
                                    }
                                }
                                else
                                {
                                    <p>กรุณาอัปโหลดไฟล์รูปภาพ</p>
                                }
                            </div>
                            <div class="col-12 mb-2">
                                @if (ViewBag.UserRole == "1")
                                {
                                    @if (ViewBag.StatusActionType == "submit")
                                    {
                                        if (UnitFormStatusID == 5 && PM_ActionType == "submit")
                                        {

                                            <div id="drop-zone" class="drop-zone">
                                                <p class="drop-zone-text">
                                                    <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                                </p>
                                                <input type="file" id="file-input" class="drop-zone-input" multiple>
                                                <div id="preview-container" class="row preview-container"></div>
                                            </div>
                                        }
                                        else if (UnitFormStatusID == 8 && PCStatusID != 8 && PJM_ActionType == "submit")
                                        {

                                            <div id="drop-zone" class="drop-zone">
                                                <p class="drop-zone-text">
                                                    <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                                </p>
                                                <input type="file" id="file-input" class="drop-zone-input" multiple>
                                                <div id="preview-container" class="row preview-container"></div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div id="drop-zone" class="drop-zone">
                                            <p class="drop-zone-text">
                                                <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                            </p>
                                            <input type="file" id="file-input" class="drop-zone-input" multiple>
                                            <div id="preview-container" class="row preview-container"></div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="col-12" style="padding-top : 4rem;">
                                <label class="form-label" style="background-color: #B1CAF6; font-size: 20px;">กรณีผ่านแบบมีเงื่อนไขใส่ข้อมูลด้านล่าง</label>
                                <input type="hidden" name="PM_StatusActionType" value="@ViewBag.StatusActionType" ID="PM_StatusActionType" />
                                <input type="hidden" name="PC_StatusID" value="@PCStatusID" ID="PC_StatusID" />
                                <input type="hidden" name="UnitFormStatusIDchk" value="@UnitFormStatusID" ID="UnitFormStatusIDchk" />
                            </div>
                            <div class="col-12">
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="PcCheck.IsChecked" id="pc-radio" value="true" onclick="checkPC(this)" @(LockStatusID != null ? "checked" : "")>
                                    <span class="form-check-label">ผ่านแบบมีเงื่อนไข (PC)</span>
                                </label>
                            </div>
                            <div class="col-12">
                                <textarea id="Remark-PC" rows="1" class="form-control" name="PcCheck.Remark" placeholder="ระบุเหตุผลเพื่อขออนุมัติการผ่านแบบมีเงื่อนไข">@RemarkPassCondition</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="text" id="PERemark" class="form-control" value="ทำรายการโดย : @StatusUpdateBy @StatusUpdateDate" readonly>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex">
                            <div>
                                @if (GobackTo == "Forgroup")
                                {                                
                                    <a class="BackButton" href="@Url.Action("Index","FormGroup"
                                        , new{projectId =@projectId,
                                            projectName = @projectName,
                                            FormID = @FormID,
                                            UnitFormID = @UnitFormID,
                                            UnitFormName = @UnitFormName,
                                            unitId  = @unitId,
                                            UnitCode = @UnitCode,
                                            UnitStatusName = @UnitStatusName})" >
                                        <i class="fa-solid fa-chevron-left fa-xl" style="color: #77a0ed;"></i>
                                    </a>
                                }
                                else if (GobackTo == "PMApprove")
                                {
                                    <a class="BackButton" href="@Url.Action("Index","PMApprove"
                                        , new{
                                                formId = @FormID,
                                                unitId  = @unitId
                                              })" >
                                        <i class="fa-solid fa-chevron-left fa-xl" style="color: #77a0ed;"></i>
                                    </a>
                                }
                                else if (GobackTo == "PJMApprove")
                                {
                                    <a class="BackButton" href="@Url.Action("Index","PJMApprove"
                                        , new{
                                                UnitFormID = @UnitFormID
                                              })">
                                        <i class="fa-solid fa-chevron-left fa-xl" style="color: #77a0ed;"></i>
                                    </a>
                                }
                            </div>
                            <div class="ms-auto">
                                @if (ViewBag.UserRole == SystemConstant.UserRole.PE.ToString())
                                {
                                    @if (ViewBag.StatusActionType == "submit")
                                    {
                                        if (UnitFormStatusID == 5 && PM_ActionType == "submit")
                                        {
                                            <div class="btn-list justify-content-end">
                                                <button type="button" class="btn btn-primary" id="saveButton">
                                                    บันทึก
                                                </button>
                                            </div>
                                        }
                                        else if (UnitFormStatusID == 8 && PCStatusID != 8 && PJM_ActionType == "submit")
                                        {
                                            <div class="btn-list justify-content-end">
                                                <button type="button" class="btn btn-primary" id="saveButton">
                                                    บันทึก
                                                </button>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="btn-list justify-content-end">
                                            <button type="button" class="btn btn-primary" id="saveButton">
                                                บันทึก
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<link href="~/lib/core-ui/dist/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
<script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
@section scripts {
    <script src="~/js/pages/FormCheckList.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <script>
        $(document).ready(function () {
            function adjustTextareaRows() {
                if ($(window).width() <= 576) {
                    $('textarea.form-control').attr('rows', 4);
                } else {
                    $('textarea.form-control').attr('rows', 2);
                }
            }

            adjustTextareaRows(); // Initial call
            $(window).resize(adjustTextareaRows); // Call on window resize
        });

    </script>
}
