@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var ProjectId = ViewBag.ProjectId;
    var ProjectName = ViewBag.ProjectName;
    var UnitId = ViewBag.UnitId;
    var UnitCode = ViewBag.UnitCode;
    var UnitStatusName = ViewBag.UnitStatusName;
    var Seq = ViewBag.Seq;
    var QC5UpdateByName = ViewBag.QC5UpdateByName;
    var QC5UnitChecklistID = ViewBag.QC5UnitChecklistID;
    var QC5UnitChecklistActionID = ViewBag.QC5UnitChecklistActionID;
    var QC5UnitStatusID = ViewBag.QC5UnitStatusID;

    var QC5UnitChecklistRemark = ViewBag.QC5UnitChecklistRemark;
    var PathQC5SignatureImage = ViewBag.PathQC5SignatureImage;
    var QC5SignatureDate = ViewBag.QC5SignatureDate;

    var ImageQC5UnitList = ViewBag.ImageQC5UnitList;
    var ActionType = ViewBag.ActionType;

    var PEID = ViewBag.PEID;
    var PEName = ViewBag.PEName;
}

@model List<Project.ConstructionTracking.Web.Models.QC5CheckModel.QC5ChecklistModel>

<style>

    .fixed-size-btn {
        width: 80px;
        height: 30px;
    }

    .card {
        border: none;
        border-radius: 10px;
    }

    .status-dot {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        border: none;
        outline: none;
    }

    .status-text {
        font-size: 1em;
    }

    .text-yellow {
        color: yellow;
    }

    .custom-heading {
        line-height: 1.2;
    }

    .fixedButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 20px;
        z-index: 9997;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: none;
    }

/*     #insert-new-qc5 {
        z-index: 9999;
    } */

/*     #Edit-qc5 {
        z-index: 9998;
    } */

    #signatureModal {
        z-index: 9999;
    }


    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        background-color: #fff;
        max-height: 200px;
        overflow-y: auto;
    }

    .autocomplete-item {
        padding: 10px;
        cursor: pointer;
    }

        .autocomplete-item:hover {
            background-color: #e9e9e9;
        }

    .autocomplete-active {
        background-color: #e9e9e9 !important;
    }

    .drop-zone {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 6px;
        text-align: center;
        cursor: pointer;
    }

    .drop-zone-text {
        margin-bottom: 10px;
    }

    .drop-zone-input {
        display: none;
    }

    .preview-container {
        margin-top: 10px;
    }

    .preview-image {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
    }

    .preview-image img {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: block;
    }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 18px;
        text-align: center;
        padding: 0;
    }

    .custom-btn .fa-signature {
        font-size: 20px; /* Adjust icon size */
    }

    .form-control[readonly] {
        background-color: #e9ecef; /* Light background for readonly input */
        cursor: not-allowed; /* Change cursor to indicate non-editable field */
    }

    .image-text {
        position: absolute;
        bottom: 5px; /* Adjust this value to control the vertical positioning */
        right: 5px; /* Adjust this value to control the horizontal positioning */
        color: white; /* Text color */
        font-size: 12px; /* Font size */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better visibility */
        padding: 2px 5px; /* Padding around the text */
        border-radius: 3px; /* Rounded corners for the background */
    }

    .custom-label {
        background-color: red; /* Red background */
        color: white; /* White text color */
        font-size: 20px; /* Keep the font size */
        padding: 5px; /* Add some padding around the text */
        border-radius: 3px; /* Optional: add rounded corners */
        text-align: center; /* Center the text within the label */
    }

</style>

<input type="hidden" id="hdProject" value="@ViewBag.ProjectId" />
<input type="hidden" id="hdUnitId" value="@ViewBag.UnitId" />
<input type="hidden" id="hdQC5UnitChecklistID" value="@ViewBag.QC5UnitChecklistID" />
<input type="hidden" id="hdQC5UnitChecklistActionID" value="@ViewBag.QC5UnitChecklistActionID" />
<input type="hidden" id="hdSeq" value="@ViewBag.Seq" />
<input type="hidden" id="hdSigNatureData" value="@ViewBag.PathQC5SignatureImage" />
<input type="hidden" id="hdPeName" value="@ViewBag.PEName" />
<input type="hidden" id="hdPEUnit" value="@ViewBag.PEUnit" />

@if (ViewBag.ActionTypeEn != "submit")
{
    <button class="fixedButton" onclick="openModalDataQC('add')">
        <i class="fa-solid fa-plus fa-xl"></i>
    </button>
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        <form asp-controller="SummaryUnitQC" asp-action="index">
                            <input type="hidden" name="ProjectId" value="@ViewBag.ProjectId" />
                            <input type="hidden" name="projectName" value="@ViewBag.ProjectName" />
                            <input type="hidden" name="UnitId" value="@ViewBag.UnitId" />
                            <button class="status-dot bg-transparent">
                                <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                            </button>
                        </form>
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h1 class="mb-0 header-text">Unit : @UnitCode</h1>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@ProjectName (สถานะ : @UnitStatusName)</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                        <button class="status-dot bg-transparent">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <label id="statusLabel" class="form-label custom-label">@ActionType</label>
        <div class="container mt-1 mb-3">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">QC 5</a></li>
                                <li class="breadcrumb-item" aria-current="page">ตรวจครั้งที่ @Seq</li>
                                @if (@QC5UnitStatusID == SystemConstant.UnitQCStatus.Pass)
                                {
                                    <li class="breadcrumb-item" aria-current="page">
                                        สถานะ : <span class="badge bg-success rounded-pill text-white">ผ่าน</span>
                                    </li>
                                }
                                else if (@QC5UnitStatusID == SystemConstant.UnitQCStatus.NotPass)
                                {
                                    <li class="breadcrumb-item" aria-current="page">
                                        สถานะ : <span class="badge bg-danger rounded-pill text-white">ไม่ผ่าน</span>
                                    </li>
                                }
                                else if (@QC5UnitStatusID == SystemConstant.UnitQCStatus.IsNotReadyInspect)
                                {
                                    <li class="breadcrumb-item" aria-current="page">
                                        สถานะ : <span class="badge bg-danger rounded-pill text-white">ผู้รับเหมาไม่พร้อมให้ตรวจ</span>
                                    </li>
                                }
                                else if (@QC5UnitStatusID == SystemConstant.UnitQCStatus.IsNotReadyInspect)
                                {
                                    <li class="breadcrumb-item" aria-current="page">
                                        สถานะ : <span class="badge bg-primary rounded-pill text-white">ผ่านแบบมีเงื่อนไข</span>
                                    </li>
                                }
                            </ol>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-3">
                                    <div id="summaryContainer">
                                        @await Html.PartialAsync("PartialSummaryQC5", ViewData["DataSummaryQC5"])
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    @foreach (var image in ImageQC5UnitList)
                                    {
                                        <div class="position-relative d-inline-block mb-3">
                                            <a data-fslightbox="gallery" href="~/@image.Text">
                                                <img src="~/@image.Text" alt="Profile Image" class="img-thumbnail" style="width: 90px; height: 90px; border-radius: 50%; object-fit: cover;">
                                            </a>
                                            @if (ViewBag.ActionTypeEn != "submit")
                                            {
                                                <button type="button" class="remove-button" onclick="RemoveImage('@image.ValueGuid')">✖</button>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-sm-7 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    <!-- Search Input -->
                                    <div class="row col-12">
                                        <div class="col-12 col-sm-6 mb-1">
                                            <input type="text" id="searchInput" class="form-control" placeholder="ค้นหา..." onkeyup="filterCards()">
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <select id="statusFilter" class="form-select" onchange="filterCards()">
                                                <option value="">ทั้งหมด</option>
                                                <option value="27">ผ่าน</option>
                                                <option value="28">ไม่ผ่าน</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group list-group-flush overflow-auto" style="max-height: 39rem">
                                    <partial name="PartialDefectList" model="Model" seq="@ViewBag.Seq" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5">
                            <div class="row">
                                <div class="col-12">
                                    <partial name="PartialSaveSubmitCard" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <div class="modal fade" id="insert-new-qc5" tabindex="-1" aria-labelledby="insert-new-qc5-Label" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="insert-new-qc5-Label">เพิ่มข้อมูลรายการ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="clearnewinsertdefect" onclick="showFixedButton()"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 g-md-3">
                        <div class="col-12">
                            <div class="form-label text-danger">
                                ถ่ายได้ไม่เกิน 5 รูปต่อรายการ
                            </div>
                            <div id="drop-zone" class="drop-zone form-control">
                                <p class="drop-zone-text">
                                    <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                </p>
                                <input type="file" id="file-input" class="drop-zone-input" multiple>
                                <div id="preview-container" class="row preview-container"></div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">ตำแหน่ง</div>
                            <select id="dropdown1" class="form-control">
                                <option value="">กรุณาเลือก</option>
                                @foreach (var item in ViewBag.ListDefectArea)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <input type="hidden" id="defectAreaId">
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">หมวดงาน</div>
                            <select id="dropdown2" class="form-control" disabled>
                                <option value="">กรุณาเลือก</option>
                            </select>
                            <input type="hidden" id="defectTypeId">
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">รายการ defect</div>
                            <select id="dropdown3" class="form-control" disabled>
                                <option value="">กรุณาเลือก</option>
                            </select>
                            <input type="hidden" id="defectDescriptionId">
                        </div>
                        <div class="col-12">
                            <div class="form-label">ความเห็น</div>
                            <textarea class="form-control" id="commentTextarea" rows="2" placeholder="ความคิดเห็น"></textarea>
                        </div>
                        <div class="col-12">
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" id="majorDefectCheckbox">
                                <span class="form-check-label text-danger">เป็น Major Defect</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal" id="clearcancelnewinsertdefect" onclick="showFixedButton()">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="saveButton">บันทึก</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SignalModal" tabindex="-1" aria-labelledby="SignalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignalModalLabel">ผู้รับเหมาลงนาม</h5>
                    <button type="button" id="ClosesignatureModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            @*           <input type="text" id="PEUnit" class="form-control" value="PE/SE : @PEName" readonly> *@
                        </div>
                        <div class="col-12 mt-2">
                            <label for="signature-pad" class="form-label">ลงลายเซ็น PE/SE</label>
                            <div id="signature-pad" class="signature-pad" style="justify-content:center;align-items:center;display:flex;">
                                <div class="signature-pad--body" style="width:500px;height:360px; background-color: grey;">
                                    <canvas></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <!-- Left-aligned button -->
                        <button type="button" class="clear btn btn-default"><i class="fas fa-reply"></i> เคลียร์</button>

                        <!-- Right-aligned button -->
                        <button type="button" class="btn btn-primary" onclick="saveSignature()">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Edit-qc5" tabindex="-1" aria-labelledby="Edit-qc5-Label" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">แก้ไขข้อมูลรายการ</h5>
                    <input type="hidden" id="QC5DefectID" name="QC5DefectID">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="clearAllButton" onclick="showFixedButton()"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 g-md-3">
                        <!-- Existing Image List (Populated by JavaScript) -->
                        <div class="col-12 mt-3">
                            <div id="imagePreview2" class="image-preview">
                                <!-- Images will be dynamically added here by JavaScript -->
                            </div>
                        </div>

                        <!-- Dropzone for uploading images -->
                        @if (ViewBag.ActionTypeEn != "submit")
                        {
                            <div class="col-12">
                                <div class="form-label text-danger">
                                    ถ่ายได้ไม่เกิน 5 รูปต่อรายการ
                                </div>
                                <div id="drop-zone-edit" class="drop-zone form-control">
                                    <p class="drop-zone-text">
                                        <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                    </p>
                                    <input type="file" id="file-input-edit" class="drop-zone-input" multiple>
                                    <div id="preview-container-edit" class="row preview-container"></div>
                                </div>
                            </div>
                        }

                        <!-- Form Fields -->
                        <div class="col-12 col-sm-6">
                            <div class="form-label">ตำแหน่ง</div>
                            <select id="dropdown1Edit" class="form-control">
                                <option value="">กรุณาเลือก</option>
                                @foreach (var item in ViewBag.ListDefectArea)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <input type="hidden" id="defectAreaId">
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-label">หมวดงาน</div>
                            <select id="dropdown2Edit" class="form-control" disabled>
                                <option value="">กรุณาเลือก</option>
                            </select>
                            <input type="hidden" id="defectTypeId">
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-label">รายการ defect</div>
                            <select id="dropdown3Edit" class="form-control" disabled>
                                <option value="">กรุณาเลือก</option>
                            </select>
                            <input type="hidden" id="defectDescriptionId">
                        </div>

                        <div class="col-12">
                            <div class="form-label">ความเห็น</div>
                            <textarea class="form-control" id="commentTextareaEdit" rows="2" placeholder="ความคิดเห็น"></textarea>
                        </div>

                        <div class="col-12">
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" id="majorDefectCheckboxEdit">
                                <span class="form-check-label text-danger">เป็น Major Defect</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.ActionTypeEn != "submit")
                    {
                        <button type="button" class="btn me-auto btn-danger" id="RemoveQC5Button" data-bs-dismiss="modal">ลบรายการนี้</button>
                        <button type="button" class="btn btn-primary" id="EditButton">บันทึก</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signatureModal" tabindex="-1" aria-labelledby="signatureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signatureModalLabel">ลายเซ็น</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="signatureImage" src="" alt="Signature Image" class="img-fluid w-100" style="object-fit: cover;">
                    <p id="signatureDate" class="mt-3"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Update-detail-defect" tabindex="-1" aria-labelledby="Update-detail-defect-Label" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">เพิ่มรูปภาพและหมายเหตุของรายการ Defect </h5>
                    <input type="hidden" id="UpQC5DefectID" name="UpQC5DefectID">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closemodalupdatedefect" onclick="showFixedButton()"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 g-md-3">
                        <!-- Existing Image List (Populated by JavaScript) -->
                        <div class="col-12 mt-3">
                            <div id="imagePreview3" class="image-preview">
                                <!-- Images will be dynamically added here by JavaScript -->
                            </div>
                        </div>

                        <!-- Dropzone for uploading images -->
                        @if (ViewBag.ActionTypeEn != "submit")
                        {
                            <div class="col-12">
                                <div class="form-label text-danger">
                                    ถ่ายได้ไม่เกิน 5 รูปต่อรายการ
                                </div>
                                <div id="drop-zone-update" class="drop-zone form-control">
                                    <p class="drop-zone-text">
                                        <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                    </p>
                                    <input type="file" id="file-input-update" class="drop-zone-input" multiple>
                                    <div id="preview-container-update" class="row preview-container"></div>
                                </div>
                            </div>
                        }

                        <!-- Display defect information as text -->
                        <div class="col-12 col-sm-6">
                            <div class="form-label">ตำแหน่ง</div>
                            <input class="form-control" type="text" id="defectAreaText" placeholder="ความคิดเห็น" disabled>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">หมวดงาน</div>
                            <input class="form-control" type="text" id="defectTypeText" placeholder="ความคิดเห็น" disabled>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-label">รายการ defect</div>
                            <input class="form-control" type="text" id="defectDescriptionText" placeholder="ความคิดเห็น" disabled>
                        </div>
                        <div class="col-12">
                            <div class="form-label">ความเห็น</div>
                            <textarea class="form-control" id="commentTextareaupdate" rows="2" placeholder="ความคิดเห็น"></textarea>
                        </div>

                        <div class="col-12">
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" id="majorDefectCheckboxupdate" disabled>
                                <span class="form-check-label text-danger">เป็น Major Defect</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewBag.ActionTypeEn != "submit")
                    {
                        @*             <button type="button" class="btn me-auto btn-danger" id="RemoveQC5Button" data-bs-dismiss="modal">ลบรายการนี้</button> *@
                        <button type="button" class="btn btn-primary" id="UpdateDefectButton">บันทึก</button>
                    }
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts {
    <link href="~/lib/core-ui/signature-pad-master/css/signature-pad.css" />
    <script src="~/lib/core-ui/signature-pad-master/js/signature_pad.umd.js"></script>
    <script type="text/javascript">
        var ImageQC5UnitList = @Html.Raw(Json.Serialize(ViewBag.ImageQC5UnitList));
    </script>
    <script src="~/js/pages/QC5Check.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <script>

        $(document).ready(function () {
            unitEquipment.init();  // Initialize when the document is ready
        });

    </script>

    <script type="text/javascript">
        var actionTypeEn = '@ViewBag.ActionTypeEn';  // Pass ViewBag.ActionTypeEn to JavaScript
    </script>

}
