
<div class="card">
    <div class="card-header">
        <div class="col-12">
            <input type="text" id="PEUnit" class="form-control" value="ตรวจโดย : @ViewBag.QC5UpdateByName" readonly>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12">
            <div class="form-group">
                <label class="form-check form-check-inline">
                    <input class="form-check-input allow-deselect"
                           type="radio"
                           name="radios-QC5-status"
                           id="radio3"
                           value="1"
                           onclick="validateMainStatus(this)"
                    @(ViewBag.QC5UnitStatusID == 1 ? "checked" : "")
                    @(ViewBag.ActionTypeEn == "submit" ? "disabled" : "")>
                    <span class="form-check-label">ผ่าน</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input allow-deselect"
                           type="radio"
                           name="radios-QC5-status"
                           id="radio2"
                           value="4"
                           onclick="validateConditionalPass(this)"
                    @(ViewBag.QC5UnitStatusID == 4 ? "checked" : "")
                    @(ViewBag.ActionTypeEn == "submit" ? "disabled" : "")>
                    <span class="form-check-label">ผ่านแบบมีเงื่อนไข</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input allow-deselect"
                           type="radio"
                           name="radios-QC5-status"
                           id="radio1"
                           value="2"
                           onclick="ClickNotPass(this)"
                    @(ViewBag.QC5UnitStatusID == 2 ? "checked" : "")
                    @(ViewBag.ActionTypeEn == "submit" ? "disabled" : "")>
                    <span class="form-check-label">ไม่ผ่าน</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input allow-deselect"
                           type="radio"
                           name="radios-QC5-status"
                           id="radio1"
                           value="3"
                           onclick="ClickNotReadyInspect(this)"
                    @(ViewBag.QC5UnitStatusID == 3 ? "checked" : "")
                    @(ViewBag.ActionTypeEn == "submit" ? "disabled" : "")>
                    <span class="form-check-label">ผู้รับเหมาไม่พร้อมให้ตรวจ</span>
                </label>
            </div>
            <label class="form-label mb-1">
                <textarea class="form-control"
                          id="QC5Remark"
                          rows="2"
                          placeholder="ความคิดเห็น"
                @(ViewBag.ActionTypeEn == "submit" ? "disabled" : "")>@ViewBag.QC5UnitChecklistRemark</textarea>
            </label>
            @if (ViewBag.ActionTypeEn != "submit")
            {
                <div class="form-label mt-4">
                    <div id="drop-zone-save-submit" class="drop-zone form-control">
                        <p class="drop-zone-text">
                            <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                        </p>
                        <input type="file" id="file-input-save-submit" class="drop-zone-input" multiple>
                        <div id="preview-container-save-submit" class="row preview-container"></div>
                    </div>
                </div>
            }
        </div>
        @if (ViewBag.ActionTypeEn != "submit")
        {
            <div class="col-12 mt-3">
                <button class="btn btn-warning w-100"
                        data-bs-toggle="modal"
                        data-bs-target="#SignalModal">
                    วิศวกรควบคุมงานลงนาม
                </button>
            </div>
        }
        @if (ViewBag.PathQC5SignatureImage != null)
        {
            <div id="cardsignature" class="col-sm-12 mt-1 mb-2">
                <div class="col-12">
                    <input type="text" id="PEUnit" class="form-control" value="PE/SE : @ViewBag.PEName" readonly>
                </div>
                <div style="position: relative; display: inline-block;">
                    <!-- HTML to open the modal -->
                    <a href="javascript:void(0);" onclick="openSignatureModal();">
                        <img src="~/@ViewBag.PathQC5SignatureImage" alt="Gallery Image 1" class="rounded" style="width:340px;height:260px;">
                        <span class="image-text">ลงลายเซ็นวันที่ : @ViewBag.QC5SignatureDate</span>
                    </a>
                </div>
            </div>
        }
        @if (ViewBag.QC5UnitChecklistID != null)
        {
            <div class="col-12 mt-3">
                <div class="row">
                    @if (ViewBag.ActionTypeEn != "submit")
                    {
                        <div class="col-4">
                            <button type="button" class="btn btn-success w-100" id="btn-save-QC5" onclick="saveUnitQC5()">บันทึกร่าง</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary w-100" id="btn-submit-QC5" onclick="SubmitUnitQC5()">ยืนยัน</button>
                        </div>
                    }
                    <div class="col-4">
                        <button class="btn btn-secondary w-100">ดูเอกสารตรวจ</button>
                    </div>
                </div>
            </div>

        }
    </div>
</div>


