@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var ProjectID = ViewBag.ProjectID;
    var ProjectName = ViewBag.ProjectName;
    var UnitID = ViewBag.UnitID;
    var UnitCode = ViewBag.UnitCode;
    var UnitFormID = ViewBag.UnitFormID;
    var UnitFormStatus = ViewBag.UnitFormStatus;
    var FormID = ViewBag.FormID;
    var FormName = ViewBag.FormName;
    var PJM_Actiontype = ViewBag.PJM_Actiontype;
    var PJM_ActionDate = ViewBag.PJM_ActionDate;
    var PJM_ActionBy = ViewBag.PJM_ActionBy;
    var PJM_StatusID = ViewBag.PJM_StatusID;
    var PJMUnitFormRemark = ViewBag.PJMUnitFormRemark;
    var ListChecklistPJMApprove = ViewBag.ListChecklistPJMApprove;
    var ListPJMImage = ViewBag.ListPJMImage;
}

<style>
    .status-dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        outline: none;
        font-size: 18px;
    }

    .card {
        border: none;
        border-radius: 10px
    }
    .drop-zone {
        border: 2px dashed #007bff;
        border-radius: 5px;
        padding: 6px;
        text-align: center;
        cursor: pointer;
    }

    .drop-zone-text {
        margin-bottom: 10px;
    }

    .drop-zone-input {
        display: none;
    }

    .preview-container {
        margin-top: 10px;
    }

    .preview-image {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
    }

    .preview-image img {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: block;
    }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(255, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 18px;
        text-align: center;
        padding: 0;
    }

    .form-control[readonly] {
        background-color: #e9ecef; /* Light background for readonly input */
        cursor: not-allowed; /* Change cursor to indicate non-editable field */
    }

    .align-center {
        display: flex;
        align-items: center;
    }

    .align-center .material-icons {
        margin-right: 8px;
    }


    .BackButton {
        width: 50px; /* Set a fixed width */
        height: 50px; /* Set a fixed height */
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: none;
        display: flex; /* Align the icon */
        align-items: center;
        justify-content: center;
        padding: 0; /* Remove padding for a perfect circle */
        cursor: pointer; /* Add cursor pointer for better UX */
    }

</style>

<div class="page-wrapper">
    <button class="fixedButton" onclick="openModalChat('@UnitFormID','@FormID','@FormName','@UnitCode')">
        <i id="chatIcon" class="fa-solid fa-message fa-xl"></i>
    </button>

    <div class="page-header d-print-none">
        <div class="card bg-primary text-primary-fg">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-white text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M21 12l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h6" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.39 0 .754 .112 1.061 .304" />
                        <path d="M19 21.5l2.518 -2.58a1.74 1.74 0 0 0 0 -2.413a1.627 1.627 0 0 0 -2.346 0l-.168 .172l-.168 -.172a1.627 1.627 0 0 0 -2.346 0a1.74 1.74 0 0 0 0 2.412l2.51 2.59z" />
                    </svg>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-baseline">
                        <form action="@Url.Action("index","MyTaskPJM")" method="post">
                            <button class="status-dot bg-transparent">
                                <i class="fa-solid fa-chevron-left fa-xl" style="color: #f7f7f7;"></i>
                            </button>
                        </form>
                    </div>
                    <div class="d-block d-sm-flex align-items-baseline custom-heading">
                        <h3 class="mb-0 header-text">PJM อนุมัติผ่านแบบมีเงื่อนไข @FormName</h3>
                        <div class="text-muted">
                            <h5 class="text-yellow d-block d-sm-inline ms-sm-2 mb-0">@ProjectName ( Unit : @UnitCode )</h5>
                        </div>
                    </div>
                    <div class="align-items-right">
                        <button class="status-dot bg-transparent">
                        </button>
                    </div
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container mt-1 mb-2">
            <div class="row">
                @foreach (var item in @ListChecklistPJMApprove)
                {
                    <div class="col-md-4">
                        <div class="card p-3 mb-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <form action="@Url.Action("Index","FormCheckList" , new { unitId = item.UnitID, FormID = item.FormID , GroupID = item.GroupID , GobackTo = "PJMApprove"})" method="post">
                                        @{
                                            string buttonClass = "bg-green";
                                            string iconClass = "fa-solid fa-magnifying-glass";

                                                if (item.LockStatusID == 7 && item.PC_FlagActive == true)
                                                {
                                                    if ((item.PC_StatusID == 7 && item.PM_Actiontype == "submit") || (item.PC_StatusID == 9 && PJM_Actiontype == "submit"))
                                                    {
                                                        @if (UnitFormStatus == "2")
                                                        {
                                                            buttonClass = "bg-warning";
                                                            iconClass = "fa-solid fa-lock";
                                                        }
                                                        else
                                                        {
                                                            buttonClass = "bg-danger";
                                                            iconClass = "fa-solid fa-lock";
                                                        }
                                                    }
                                                    else if (item.PC_StatusID == 6 && item.PM_Actiontype == "submit")
                                                    {
                                                        buttonClass = "bg-primary";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (item.PC_StatusID == 8 && PJM_Actiontype == "submit")
                                                    {
                                                        buttonClass = "bg-success";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (item.PC_StatusID == 12)
                                                    {
                                                        buttonClass = "bg-warning";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (item.PC_StatusID == 13)
                                                    {
                                                        buttonClass = "bg-success";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else if (item.PC_StatusID == null)
                                                    {
                                                        buttonClass = "bg-warning";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                    else
                                                    {
                                                        buttonClass = "bg-primary";
                                                        iconClass = "fa-solid fa-lock";
                                                    }
                                                }
                                                else if (item.LockStatusID == 8 && item.PC_FlagActive == true)
                                                {
                                                    if (item.PC_StatusID == 14)
                                                    {
                                                        buttonClass = "bg-danger";
                                                        iconClass = "fa-solid fa-lock-open";
                                                    }
                                                    else if (item.PC_StatusID == 13)
                                                    {
                                                        buttonClass = "bg-success";
                                                        iconClass = "fa-solid fa-lock-open";
                                                    }
                                                    else
                                                    {
                                                        buttonClass = "bg-warning";
                                                        iconClass = "fa-solid fa-lock-open";
                                                    }
                                                }
                                            }
                                        <button class="status-dot @buttonClass">
                                            <i class="@iconClass"></i>
                                        </button>
                                    </form>
                                    <div class="ms-2 c-details">
                                        <h3 class="mb-0">
                                            @item.GroupName
                                        </h3>
                                    </div>
                                </div>
                                <div class="align-items-right">
                                    <!-- Button to open the modal and fetch images -->
                                    <button class="status-dot bg-primary"
                                            onclick="openModal('@item.UnitFormID', '@item.GroupID' , @item.FormID , @item.PC_ID)">
                                            <i class="fa-regular fa-image"></i>
                                    </button>
                                </div>
                            </div>
                            <label class="form-label">
                                ความเห็นจาก PE/SE
                            </label>
                            <textarea rows="2" class="form-control" placeholder="ความคิดเห็น" disabled>@item.PE_Remark</textarea>
                            <label class="form-label">
                                ความเห็นจาก PM
                            </label>
                            <textarea rows="2" class="form-control" placeholder="ความคิดเห็น" disabled>@item.PM_Remark</textarea>
                                <div class="col-12 p-1">
                                    <label class="form-label">
                                        อนุมัติการผ่านแบบมีเงื่อนไข
                                    </label>
                                    <label class="form-check form-check-inline">
                                    <input class="form-check-input" data-action="gr-pass" type="radio" group-id="@item.GroupID" name="radios-inline-@item.GroupID" passconID="@item.PC_ID" value="8" @(item.PC_StatusID == 8 ? "checked" : item.PC_StatusID == 12 ? "checked" : item.PC_StatusID == 13 ? "checked" : item.PC_StatusID == 14 ? "checked" :"") @((PJM_Actiontype == "submit" && UnitFormStatus != "6") || item.PC_FlagActive == false || ViewBag.UserRole != SystemConstant.UserRole.PJM.ToString() ? "disabled" : "") onclick="toggleRadio(this)">
                                        <span class="form-check-label">อนุมัติ</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                    <input class="form-check-input" data-action="gr-pass" type="radio" group-id="@item.GroupID" name="radios-inline-@item.GroupID" passconID="@item.PC_ID" value="9" @((PJM_Actiontype == "submit" && item.PC_StatusID != 8 && item.PC_StatusID != 12 && item.PC_StatusID != 13 && item.PC_StatusID != 14 && item.PC_StatusID != null) || item.PC_StatusID == 9 ? "checked" : "") @((PJM_Actiontype == "submit" && UnitFormStatus != "6") || item.PC_FlagActive == false || ViewBag.UserRole != SystemConstant.UserRole.PJM.ToString()? "disabled" : "") onclick="toggleRadio(this)">
                                        <span class="form-check-label">ไม่อนุมัติ</span>
                                    </label>
                                </div>
                                <div class="col-12 p-1 mb-2">
                                <textarea id="remark_@item.GroupID" rows="1" class="form-control" placeholder="ระบุเหตุผลเพื่อขออนุมัติ" @((PJM_Actiontype == "submit" && UnitFormStatus != "6") || item.PC_FlagActive == false || ViewBag.UserRole != SystemConstant.UserRole.PJM.ToString() ? "disabled" : "")>@item.PJM_Remark</textarea>
                                </div>
                                <input type="hidden" id="Flag-Active-@item.GroupID" value="@(item.PC_FlagActive == true ? 1 : 0)" />
                                @if (item.PC_StatusID == 13)
                                {
                                    <label class="form-label">
                                        ความเห็นจาก PE/SE - ปลดล็อค
                                    </label>
                                    <textarea rows="2" class="form-control" placeholder="ความคิดเห็น" disabled>@item.PEUnLock_Remark</textarea>
                                    <label class="form-label">
                                        ความเห็นจาก PM - ปลดล็อค
                                    </label>
                                    <textarea rows="2" class="form-control" placeholder="ความคิดเห็น" disabled>@item.PMUnLock_Remark</textarea>                                
                                }
                                @if (item.PC_StatusID == 13)
                                {
                                    <div class="d-flex justify-content-center mt-2">
                                        <button type="button" class="btn btn-success btn-lg rounded-pill px-4" id="btn-toggle-card" style="opacity: 1; pointer-events: none;">
                                            <i class="fa fa-unlock-alt me-2"></i> ปลดล็อคแล้ว
                                        </button>
                                    </div>
                                }


                                @if (item.PC_FlagActive == false)
                                {
                                    <label class="form-label">
                                        งานนี้ผ่านแบบปกติแล้ว
                                    </label>
                                }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="container-xl mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="ribbon ribbon-top bg-yellow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pencil">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                            <path d="M13.5 6.5l4 4" />
                        </svg>
                    </div>
                    <h3 class="card-title align-center">
                        <button type="button"
                                class="status-dot bg-secondary">
                            <i class="fa-solid fa-user"></i>
                        </button>
                        <div class="ms-2 c-details">
                            <h3 class="mb-0">
                                บันทึกผลการอนุมัติผ่านแบบมีเงื่อนไขในงวดนี้
                            </h3>
                        </div>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <!-- Profile Image -->
                            @foreach (var listimage in ListPJMImage)
                            {
                                <div class="position-relative d-inline-block mb-3">
                                    <a data-fslightbox="gallery" href="~/@listimage.FilePath">
                                        <img src="~/@listimage.FilePath" alt="Profile Image" class="img-thumbnail" style="width: 90px; height: 90px; border-radius: 50%; object-fit: cover;">
                                    </a>
                                    @if (ViewBag.UserRole == SystemConstant.UserRole.PJM.ToString())
                                    {
                                        @if (PJM_Actiontype == "submit")
                                        {
                                            if (UnitFormStatus == "6")
                                            {
                                                <button type="button" class="remove-button" onclick="deleteImage('@listimage.ResourceID')">✖</button>
                                            }
                                        }
                                        else
                                        {
                                            <button type="button" class="remove-button" onclick="deleteImage('@listimage.ResourceID')">✖</button>
                                        }
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <input type="text" id="PJM_ActionBy" class="form-control" value="ทำรายการโดย : @PJM_ActionBy @PJM_ActionDate" readonly>
                                </div>
                                <div class="col-12">
                                    <textarea id="mainRemark" rows="2" class="form-control" placeholder="หมายเหตุ" @((PJM_Actiontype == "submit" && UnitFormStatus != "6") || ViewBag.UserRole != SystemConstant.UserRole.PJM.ToString() ? "disabled" : "")
                                    >@PJMUnitFormRemark</textarea>
                                </div>
                                @if (ViewBag.UserRole == SystemConstant.UserRole.PJM.ToString())
                                {
                                    @if (PJM_Actiontype == "submit")
                                    {
                                        if (UnitFormStatus == "6")
                                        {
                                            <div class="col-12 p-3">
                                                <div id="drop-zone" class="drop-zone">
                                                    <p class="drop-zone-text">
                                                        <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                                    </p>
                                                    <input type="file" id="file-input" class="drop-zone-input" multiple>
                                                    <div id="preview-container" class="row preview-container"></div> <!-- Added for preview -->
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-12 p-3">
                                            <div id="drop-zone" class="drop-zone">
                                                <p class="drop-zone-text">
                                                    <i class="fa fa-camera" style="font-size: 24px; color: #007bff;"></i>
                                                </p>
                                                <input type="file" id="file-input" class="drop-zone-input" multiple>
                                                <div id="preview-container" class="row preview-container"></div> <!-- Added for preview -->
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex">
                        <div>
                            <a class="BackButton" href="@Url.Action("Index","MyTaskPJM")">
                                <i class="fa-solid fa-chevron-left fa-xl" style="color: #77a0ed;"></i>
                            </a>
                        </div>
                        <div class="ms-auto">
                            <div class="justify-content-end">
                                @if (ViewBag.UserRole == SystemConstant.UserRole.PJM.ToString())
                                {
                                    @if (PJM_Actiontype == "submit")
                                    {
                                        if (UnitFormStatus == "6")
                                        {
                                            <input type="hidden" id="UnitFormID" value="@UnitFormID" />
                                            <input type="hidden" id="ProjectID" value="@ProjectID" />
                                            <input type="hidden" id="UnitID" value="@UnitID" />
                                            <input type="hidden" id="UnitCode" value="@UnitCode" />
                                            <input type="hidden" id="FormID" value="@FormID" />
                                            <button class="btn" onclick="saveOrSubmit('save')">บันทึกร่าง</button>
                                            <button class="btn btn-primary" onclick="saveOrSubmit('submit')">ยืนยัน</button>                                       
                                        }
                                    }
                                    else
                                    {
                                        <input type="hidden" id="UnitFormID" value="@UnitFormID" />
                                        <input type="hidden" id="ProjectID" value="@ProjectID" />
                                        <input type="hidden" id="UnitID" value="@UnitID" />
                                        <input type="hidden" id="UnitCode" value="@UnitCode" />
                                        <input type="hidden" id="FormID" value="@FormID" />
                                        <button class="btn" onclick="saveOrSubmit('save')">บันทึกร่าง</button>
                                        <button class="btn btn-primary" onclick="saveOrSubmit('submit')">ยืนยัน</button>       
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal show image -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">รูปภาพ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Label and Images for RoleID = 1 -->
                    <div class="row g-2 g-md-3">
                        <label class="form-label" id="role1-label">รูปภาพการตรวจงาน PE/SE</label>
                    </div>
                    <div class="row g-2 g-md-3" id="image-container-role-1">
                        <!-- Images for RoleID = 1 will be injected here -->
                    </div>

                    <!-- Label and Images for RoleID = 2 -->
                    <div class="row g-2 g-md-3 mt-4">
                        <label class="form-label" id="role2-label">รูปภาพการตรวจงาน PM</label>
                    </div>
                    <div class="row g-2 g-md-3" id="image-container-role-2">
                        <!-- Images for RoleID = 2 will be injected here -->
                    </div>

                    <!-- Label and Images for Unlock -->
                    <div class="row g-2 g-md-3 mt-4">
                        <label class="form-label" id="Unlock-label">รูปภาพขอ Unlock</label>
                    </div>
                    <div class="row g-2 g-md-3" id="image-container-Unlock">
                        <!-- Images for Unlockwill be injected here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/21fea36ed8.js" crossorigin="anonymous"></script>
    <script src="~/js/pages/PJMApprove.js?ver=@DateTime.Now.Ticks.ToString()"></script>
    <script>
        $(document).ready(function () {
            function adjustTextareaRows() {
                if ($(window).width() <= 576) {
                    $('textarea.form-control').attr('rows', 4);
                } else {
                    $('textarea.form-control').attr('rows', 2);
                }
            }

            adjustTextareaRows(); // Initial call
            $(window).resize(adjustTextareaRows); // Call on window resize
        });

        function saveOrSubmit(actionType) {
            var data = new FormData();

            data.append("ActionType", actionType);
            data.append("Remark", document.getElementById("mainRemark").value.trim());
            data.append("UnitFormID", document.getElementById("UnitFormID").value);
            data.append("ProjectID", document.getElementById("ProjectID").value);
            data.append("UnitID", document.getElementById("UnitID").value);
            data.append("FormID", document.getElementById("FormID").value);

            var passConditions = [];
            var allGroupsChecked = true;
            var allRemarksFilled = true;

            $("input[data-action='gr-pass']").each(function () {
                let group_id = $(this).attr("group-id");
                let passconID = $(this).attr("passconID");
                let _statusID = $(this).is(":checked") ? $(this).val() : null;
                let remark = document.getElementById(`remark_${group_id}`).value;
                let FlagActive = document.getElementById(`Flag-Active-${group_id}`).value;

                FlagActive = parseInt(FlagActive);

                if (FlagActive === 1) {
                    let existingCondition = passConditions.find(pc => pc.Group_ID === group_id);

                    if (!existingCondition) {
                        passConditions.push({
                            PC_ID: passconID,
                            Group_ID: group_id,
                            StatusID: _statusID,
                            PC_FlagActive: FlagActive,
                            PJM_Remark: remark ? remark.trim() : '',
                        });
                    } else {
                        if (_statusID !== null) {
                            existingCondition.StatusID = _statusID;
                        }
                    }

                    if (_statusID === "9") {
                        if (remark.trim() === "" || document.getElementById("mainRemark").value.trim() === "") {
                            allRemarksFilled = false;
                            scrollToElement(document.getElementById(`remark_${group_id}`));
                        }
                    }

                    let groupChecked = $("input[data-action='gr-pass'][group-id='" + group_id + "']:checked").length > 0;
                    if (!groupChecked) {
                        allGroupsChecked = false;
                    }
                }
            });

            if (passConditions.length > 0) {
                data.append("PassConditionsIUD", JSON.stringify(passConditions));
            }

            var files = document.getElementById("file-input").files;
            for (var i = 0; i < files.length; i++) {
                data.append("Images", files[i]);
            }

            if (actionType === "submit") {
                if (!allGroupsChecked) {
                    showErrorAlert('คำเตือน', 'กรุณาเลือกการอนุมัติหรือไม่อนุมัติในทุกงานที่ใช้งานอยู่');
                    return;
                }
                if (!allRemarksFilled) {
                    showErrorAlert('คำเตือน!', 'กรุณาระบุเหตุผลสำหรับการไม่อนุมัติในทุกงานและหมายเหตุงวดนี้');
                    return;
                }

                showConfirmationAlert(
                    'ยืนยันการดำเนินการ',
                    'คุณต้องการยืนยันงวดงานนี้หรือไม่',
                    'warning',
                    'ใช่',
                    'ยกเลิก',
                    function () {
                        showLoadingAlert();
                        $.ajax({
                            url: '@ViewBag.baseUrl' + 'PJMApprove/SaveOrSubmit',
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (res) {
                                Swal.close();
                                if (res.success) {
                                    showSuccessAlert('สำเร็จ!', 'บันทึกสำเร็จ', () => {
                                        window.location.reload();
                                    });
                                } else {
                                    showErrorAlert('ผิดพลาด!', 'บันทึกข้อมูลไม่สำเร็จ');
                                }
                            },
                            error: function (xhr, status, error) {
                                Swal.close();
                                showErrorAlert('ผิดพลาด!', 'บันทึกข้อมูลไม่สำเร็จ');
                            }
                        });
                    }
                );
            } else {
                showLoadingAlert();
                $.ajax({
                    url: '@ViewBag.baseUrl' + 'PJMApprove/SaveOrSubmit',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (res) {
                        Swal.close();
                        if (res.success) {
                            showSuccessAlert('สำเร็จ!', 'บันทึกสำเร็จ', () => {
                                window.location.reload();
                            });
                        } else {
                            showErrorAlert('ผิดพลาด!', 'บันทึกข้อมูลไม่สำเร็จ');
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.close();
                        showErrorAlert('ผิดพลาด!', 'บันทึกข้อมูลไม่สำเร็จ');
                    }
                });
            }
        }

    </script>
}